# Secrets / runtime
.erlang.cookie

# Git
.git
.gitignore

# CI & test artifacts
big_tests/
logs/
log/
_build/
.coverdata
*.beam
*.o
*.so
**/erlcinfo

# Tests (not needed in runtime image)
test/
big_tests/

# Editor / OS junk
.DS_Store
.idea
.vscode

# Jenkins
Jenkinsfile

# Packaging
tools/pkg/
