# big_tests directory
big_tests
# everything inside _builde
_build/*
#except of _build/default so that we don't fetch deps when they are fetched
!_build/default
# no .so files (C code copilation artifacts)
**/*.so
# no .o files (C code copilation artifacts)
**/*.o
# no beam files
**/*.beam
#no erlcinfo files (in order to have cleaner logs when compiling in the container)
**/erlcinfo
# no vim temp files
**/.*.sw*
.git

tools/pkg/Dockerfile_rpm
tools/pkg/packages/
