language: erlang
before_install:
        - sudo apt-get update
        - sudo apt-get install libpam0g-dev libexpat1-dev odbc-postgresql libmyodbc
        - if [ $PRESET = 'ldap_mnesia' ]; then sudo apt-get install slapd ldap-utils; fi
        - tools/travis-generate-pass.sh
install:
        - tools/travis-build.sh
        - tools/travis-build-tests.sh
before_script:
        - tools/travis-setup-db.sh
        - if [ $PRESET = 'ldap_mnesia' ]; then sudo tools/travis-setup-ldap.sh; fi
script: tools/travis-test.sh

after_success:
        - make cover_report

after_failure:
        - tools/travis-upload-ct-reports.sh
        - cat `ls -1 -d -t apps/ejabberd/logs/ct_run* | head -1`/apps.ejabberd.logs/run.*/suite.log
        - cat dev/mongooseim_node1/etc/ejabberd.cfg
        - if [ -s dev/mongooseim_node1/log/crash.log ]; then cat dev/mongooseim_node1/log/crash.log; fi
        - if [ -s dev/mongooseim_node2/log/crash.log ]; then cat dev/mongooseim_node2/log/crash.log; fi
        - tail -100 dev/mongooseim_node1/log/ejabberd.log
        - tail -100 dev/mongooseim_node2/log/ejabberd.log

services:
        - redis-server
branches:
        only:
                - master
                - stable
                - rel-1.7

otp_release:
        - 17.5
env:
        - PRESET=internal_redis DB=mnesia REL_CONFIG=with-redis
        - PRESET=internal_mnesia DB=mnesia REL_CONFIG=minimal
        - PRESET=mysql_mnesia DB=mysql REL_CONFIG=with-mysql
        - PRESET=odbc_pgsql_mnesia DB=pgsql REL_CONFIG=with-odbc
        - PRESET=pgsql_mnesia DB=pgsql REL_CONFIG=with-pgsql
        - PRESET=ldap_mnesia DB=mnesia REL_CONFIG=minimal
        - PRESET=riak_mnesia DB=riak REL_CONFIG=with-riak
        - PRESET=external_mnesia DB=mnesia REL_CONFIG=minimal

matrix:
    include:
        - otp_release: R16B03
          env: PRESET=internal_mnesia DB=mnesia REL_CONFIG=minimal
        - otp_release: 18.1
          env: PRESET=internal_mnesia DB=mnesia REL_CONFIG=minimal
