language: erlang
sudo: required
addons:
    apt:
        packages:
        - libpam0g-dev
        - libexpat1-dev
        - odbc-postgresql
        - libmyodbc
        - slapd
        - ldap-utils
before_install:
        - tools/travis-generate-pass.sh
install:
        - tools/travis-build.sh
        - tools/travis-build-tests.sh
before_script:
        - tools/travis-setup-db.sh
        - if [ $PRESET = 'ldap_mnesia' ]; then sudo tools/travis-setup-ldap.sh; fi
script: tools/travis-test.sh $PRESET

after_success:
        - make cover_report

after_failure:
        - tools/travis-upload-ct-reports.sh
        - cat `ls -1 -d -t apps/ejabberd/logs/ct_run* | head -1`/apps.ejabberd.logs/run.*/suite.log
        - cat dev/mongooseim_node1/etc/ejabberd.cfg
        - if [ -s dev/mongooseim_node1/log/crash.log ]; then cat dev/mongooseim_node1/log/crash.log; fi
        - if [ -s dev/mongooseim_node2/log/crash.log ]; then cat dev/mongooseim_node2/log/crash.log; fi
        - tail -100 dev/mongooseim_node1/log/ejabberd.log
        - tail -100 dev/mongooseim_node2/log/ejabberd.log

after_success:
        - make cover_report
        - if [ $PRESET = 'internal_mnesia' ] && [ $TRAVIS_OTP_RELEASE = "17.5" ]; then tools/travis-build-and-push-docker.sh; fi

services:
        - redis-server
        - docker
branches:
        only:
                - docker-image-building
                - master
                - stable
                - /\d+\.\d+\.\d+(\-[a-z,0-9])*/

otp_release:
        - 17.5
env:
        - PRESET=internal_redis DB=mnesia REL_CONFIG=with-redis
        - PRESET=internal_mnesia DB=mnesia REL_CONFIG=with-all
        - PRESET=mysql_mnesia DB=mysql REL_CONFIG=with-mysql
        - PRESET=odbc_pgsql_mnesia DB=pgsql REL_CONFIG=with-odbc
        - PRESET=pgsql_mnesia DB=pgsql REL_CONFIG=with-pgsql
        - PRESET=ldap_mnesia DB=mnesia REL_CONFIG=with-none
        - PRESET=riak_mnesia DB=riak REL_CONFIG=with-riak
        - PRESET=external_mnesia DB=mnesia REL_CONFIG=with-none
        - PRESET=dialyzer_only

matrix:
    include:
        - otp_release: R16B03
          env: PRESET=internal_mnesia DB=mnesia REL_CONFIG=with-none
        - otp_release: 18.1
          env: PRESET=internal_mnesia DB=mnesia REL_CONFIG=with-none

after_failure:
        - tools/travis-upload-ct-reports.sh

notifications:
    webhooks:
        # trigger Buildtime Trend Service to parse Travis CI log
        - https://buildtimetrend.herokuapp.com/travis

cache:
        directories:
                - dialyzer

before_cache:
        - rm -f dialyzer/apps.*

deploy:
  provider: releases
  api-key: $GITHUB_TOKEN
  skip_cleanup: true
  file: mongooseim-$TRAVIS_BRANCH.$TRAVIS_OTP_RELEASE.$(lsb_release -is | tr "A-Z" "a-z").$(lsb_release -rs).$(uname -m).tar.bz2
  on:
    otp_release: 17.5
    tags: true
    condition: "$PRESET = internal_mnesia"
