language: erlang
sudo: required
addons:
    apt:
        packages:
        - libpam0g-dev
        - libexpat1-dev
        - odbc-postgresql
        - slapd
        - ldap-utils
before_install:
        - tools/travis-generate-pass.sh
install:
        - tools/travis-build.sh
        - tools/travis-build-tests.sh
before_script:
        - tools/travis-setup-db.sh
        - if [ $PRESET = 'ldap_mnesia' ]; then sudo tools/travis-setup-ldap.sh; fi
script: tools/travis-test.sh -p $PRESET

after_failure:
        - cat `ls -1 -d -t apps/ejabberd/logs/ct_run* | head -1`/apps.ejabberd.logs/run.*/suite.log
        - cat dev/mongooseim_node1/etc/ejabberd.cfg
        - if [ -s dev/mongooseim_node1/log/crash.log ]; then cat dev/mongooseim_node1/log/crash.log; fi
        - if [ -s dev/mongooseim_node2/log/crash.log ]; then cat dev/mongooseim_node2/log/crash.log; fi
        - tail -100 dev/mongooseim_node1/log/ejabberd.log
        - tail -100 dev/mongooseim_node2/log/ejabberd.log

after_success:
        - make cover_report
        - if [ $PRESET = 'internal_mnesia' ] && [ $TRAVIS_OTP_RELEASE = "18.3" ]; then tools/travis-build-and-push-docker.sh; fi

after_script:
        - sudo pip install awscli --ignore-installed six
        - if [ $TRAVIS_SECURE_ENV_VARS == 'true' ]; then tools/travis-upload-to-s3.sh; fi

services:
        - redis-server
        - docker

branches:
        only:
                - master
                - stable
                - /^rel\-\d+\.\d+$/
                - /^\d+\.\d+\.\d+([a-z0-9\-\+])*/

otp_release:
        - 18.3
env:
        - PRESET=internal_mnesia DB=mnesia REL_CONFIG=with-all
        - PRESET=dialyzer_only

matrix:
    include:
        - otp_release: 19.0
          env: PRESET=pgsql_mnesia DB=pgsql REL_CONFIG=with-pgsql
        - otp_release: 17.5
          env: PRESET=internal_mnesia DB=mnesia REL_CONFIG=with-none

cache:
        directories:
                - dialyzer

before_cache:
        - rm -f dialyzer/apps.*
