[
 {
  elvis,
  [
   {config,
    [#{dirs => ["apps/*/src", "apps/*/test", "test/ejabberd_tests/tests"],
       filter => "*.erl",
       ruleset => erl_files,
       rules => [{elvis_style, line_length, #{limit => 100,
                                              skip_comments => false}},
                 {elvis_style,
                  variable_naming_convention,
                  #{regex => "^([_A-Z][0-9a-zA-Z]*)$" }},
%%                provision for newer version of elvis_core which doesn't automagically
%%                strip leading underscore
%%                https://github.com/inaka/elvis_core/commit/70fd9d01fd076f4640da09fdfd53b310ec59a94c
%%                  #{regex => "^_{0,2}([A-Z][0-9a-zA-Z]*)$"}},
		         {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
		]
      }
    ]
   }
  ]
 }
].
