{erl_opts, [debug_info,
            {i, ["include"]},
            {d, xml_nif},
            %% Define build macro for Erlang 18
            %% Types in maps where introduced in Erlang 19
            {platform_define, "^18", no_typed_maps},
            {parse_transform, lager_transform}]}.

%% For behaviour info
{erl_first_files, [
    "src/gen_mod.erl",
    "src/mod_event_pusher_sns.erl"
]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{port_specs,
 [
  {".*", "priv/lib/ejabberd_zlib_drv.so", ["c_src/ejabberd_zlib_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lz"}]}]},
  {".*", "priv/lib/mongoose_mam_id.so", ["c_src/mongoose_mam_id.cpp"], [{env, [{"CXXFLAGS", "$CXXFLAGS -std=c++11"}]}]}
 ]}.

{minimum_otp_vsn, "18.3"}.

{deps,
 [
  {base16, ".*", {git, "git://github.com/goj/base16.git", "f78918e"}},
  {cuesport, ".*", {git, "git://github.com/esl/cuesport.git", "d82ff25"}},
  {redo, ".*", {git, "git://github.com/Wallapop/redo.git", "35a8d1c"}},
  {exml, ".*", {git, "git://github.com/esl/exml.git", {tag, "3.0.0"}}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", "3.2.4"}},
  {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog.git", "3.0.3"}},
  {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.1.2"}},
  {exometer_core, {git, "git://github.com/esl/exometer_core.git", {branch, "master"}}},
  {exometer_report_graphite, {git, "git://github.com/esl/exometer_report_graphite.git", {branch, "master"}}},
  {exometer_report_statsd, {git, "git://github.com/esl/exometer_report_statsd.git", {branch, "master"}}},
  {mochijson2, ".*", {git, "git://github.com/bjnortier/mochijson2.git", {branch, "master"}}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "0.14.11"}},
  {fusco, ".*", {git, "git://github.com/esl/fusco.git", {branch, "master"}}},
  {idna, ".*", {git, "git://github.com/benoitc/erlang-idna.git", {tag, "1.2.0"}}},
  {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
  {uuid, ".*", {git, "git://github.com/okeuday/uuid.git", {tag, "v1.7.1"}}},
  {fast_tls, ".*", {git, "git://github.com/processone/fast_tls.git", "a166f0e9fe78304e5ca628fd5eff57c850241813"}},
  {lasse, ".*", {git, "git://github.com/inaka/lasse.git", "692eaec"}},
  {worker_pool, ".*", {git, "git://github.com/inaka/worker_pool.git", {tag, "3.0.0"}}},

  {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client", "2.5.3"}},
  {pooler, ".*", {git, "https://github.com/seth/pooler.git", "521f568"}},
  {cqerl, ".*", {git, "https://github.com/esl/cqerl.git", {ref, "08067ae"}}},
  {mysql, ".*", {git, "git://github.com/mysql-otp/mysql-otp.git", {tag, "1.3.2"}}},
  {epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", {tag, "3.4.0"}}},
  {eodbc, ".*", {git, "git://github.com/arcusfelis/eodbc.git", {ref, "7dfed7e29cbfc9497e7969ea84aac2c96b3dcb81"}}},

  {cache_tab, ".*", {git, "git://github.com/processone/cache_tab", {tag, "1.0.12"}}},
  {stringprep, ".*", {git, "git://github.com/processone/stringprep.git", {tag, "1.0.7"}}},

  {proper, ".*", {git, "git://github.com/manopapad/proper.git", {tag, "v1.2"}}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.6"}}},

  {pa, ".*", {git, "git://github.com/erszcz/pa.git", "e53c540"}},
  {usec, ".*", {git, "git://github.com/esl/usec.git", {branch, "master"}}},
  {bbmustache, ".*", {git, "git://github.com/soranoba/bbmustache.git", {tag, "v1.4.0"}}},
  {recon, ".*", {git, "git://github.com/ferd/recon.git", "2.3.2"}},
  {erlcloud, ".*", {git, "git://github.com/erlcloud/erlcloud.git", "c119698"}},
  {jwerl, ".*", {git, "git://github.com/emedia-project/jwerl.git", "3f365d1"}},
  {csv, ".*", {git, "https://github.com/bszaf/csv.git", {ref, "b0b854d"}}},
  {cpool, "0.1.0"},
  {observer_cli, "1.1.0"},
  {nkpacket, {git, "https://github.com/michalwski/nkpacket.git", {ref, "b6f8c73"}}},
  {nksip, {git, "https://github.com/NetComposer/nksip.git", {ref, "1a29ef3"}}},
  {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.8"}}}
 ]}.

{relx, [{release, { mongooseim, {cmd, "cat VERSION | tr -d '\r\n'"} },
         []}, %%Apps list is dynamicaly set by rebar.config.script

        {dev_mode, true},
        %% TODO: extra copies waste space, but mongooseim script requires the files in a certain place
        {include_erts, true},

        {generate_start_script, false},
        {extended_start_script, false},

        {overlay, [
                   {mkdir, "priv/ssl"},
                   {copy, "tools/ssl/fake_cert.pem",        "priv/ssl/fake_cert.pem"},
                   {copy, "tools/ssl/fake_key.pem",         "priv/ssl/fake_key.pem"},
                   {copy, "tools/ssl/fake_server.pem",      "priv/ssl/fake_server.pem"},
                   {copy, "tools/ssl/fake_dh_server.pem",   "priv/ssl/fake_dh_server.pem"},
                   {copy, "tools/ssl/ca/cacert.pem",        "priv/ssl/cacert.pem"},

                   {copy,     "rel/files/erl",          "erts-\{\{erts_vsn\}\}/bin/erl"},
                   {template, "rel/files/nodetool",     "erts-\{\{erts_vsn\}\}/bin/nodetool"},

                   {template, "rel/files/mongooseim",       "bin/mongooseim"},
                   {template, "rel/files/mongooseimctl",    "bin/mongooseimctl"},
                   {template, "rel/files/app.config",       "etc/app.config"},
                   {template, "rel/files/vm.args",          "etc/vm.args"},
                   {template, "rel/files/vm.dist.args",     "etc/vm.dist.args"},

                   {copy, "priv/logo.txt", "priv/logo.txt"},
                   {copy, "VERSION", "priv/VERSION"}
                  ]}

       ]}.

{dist_node,
 [{setcookie, ejabberd},
  {sname, 'mongooseim@localhost'}
 ]}.

{profiles, [ {prod,    [{relx, [ {dev_mode, false},
                                 {overlay_vars, "rel/vars.config"},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             %% development nodes
             {mim1,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/mim1.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             {mim2,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/mim2.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             {mim3,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/mim3.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             {fed1,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/fed1.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             {reg1,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/reg1.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]}
            ]}.

{plugins,
 [
  {pc, {git, "https://github.com/blt/port_compiler.git", {ref, "c2f3fb1"}}},
  {coveralls, {git, "https://github.com/markusn/coveralls-erl", {ref, "aaa2444"}}},
  {provider_asn1, {git, "git://github.com/knusbaum/provider_asn1.git", {ref, "29f7850"}}}
 ]}.

{provider_hooks,
 [{pre,  [{compile, {asn, compile}}, {compile, {pc, compile}}]},
  {post, [{clean, {asn, clean}}, {clean, {pc, clean}}]
  }]}.

{overrides,
  [{override, syslog,
    [ {provider_hooks,
       [ {post, [ {compile, {pc, compile}},
                  {clean, {pc, clean}} ] }] } ]},
   {override, stringprep,
    [ {provider_hooks,
       [ {post, [ {compile, {pc, compile}},
                  {clean, {pc, clean}} ] }] } ]},
   %% Disable unsupported plugins for hamcrest-erlang
   {override, riakc, [{erl_opts, [debug_info, warnings_as_errors,
                                  {d, namespaced_types},
                                  {d, deprecated_now},
                                  {d, deprecated_19}]}]},
   {override, hamcrest, [{plugins, []}]}

 ]}.

{dialyzer, [{plt_extra_apps, [cowboy, lasse, p1_utils, ranch]}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, ["_build/test/cover/ct.coverdata",
                       "_build/mim1/rel/mongooseim/priv/cover/mongooseim@localhost.coverdata",
                       "_build/mim2/rel/mongooseim/priv/cover/ejabberd2@localhost.coverdata",
                       "_build/mim3/rel/mongooseim/priv/cover/mongooseim3@localhost.coverdata"
                       ]}.
{coveralls_service_name, "travis-ci"}.
