{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R?1[678]"}.

{sub_dirs, [
    "apps/ejabberd",
    "apps/mysql",
    "apps/pgsql",
    "rel", "dev"]}.

{deps,
 [
  {edown, ".*", {git, "git://github.com/uwiger/edown.git", {tag, "0.7"}}},
  {base16, ".*", {git, "git://github.com/goj/base16.git", "1e9dd28bdbcfb"}},
  {cuesport, ".*", {git, "git://github.com/esl/cuesport.git", "d82ff25"}},
  {redo, ".*", {git, "git://github.com/JacobVorreuter/redo.git", "7c7eaef"}},
  {exml, ".*", {git, "git://github.com/esl/exml.git", "2.2.0"}},
  {lager, "2.0.3", {git, "git://github.com/basho/lager.git", "b7984d4"}},
  {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.0.4"}},
  {exometer, ".*", {git, "git://github.com/esl/exometer.git", {branch, "1.1-patched"}}},
  {mochijson2, ".*", {git, "git://github.com/bjnortier/mochijson2.git", {branch, "master"}}},
  {alarms, ".*", {git, "git://github.com/chrzaszcz/alarms.git", {branch, "master"}}},
  {fusco, ".*", {git, "git://github.com/esl/fusco.git", {branch, "master"}}},
  {idna, ".*", {git, "git://github.com/benoitc/erlang-idna.git", {tag, "1.0.1"}}},

  {seestar, ".*", {git, "git://github.com/iamaleksey/seestar.git", "83e8099b617fffe5af86d4c91d84ce3608accd25"}},
  {protobuffs, ".*", {git, "git://github.com/esl/erlang_protobuffs.git", {branch, "OTP18"}}},
  {riakc, ".*", {git, "https://github.com/esl/riak-erlang-client", {branch, "fix/dialyzer"}}},

  {p1_utils, ".*", {git, "git://github.com/processone/p1_utils", "940f42ddfcdc0b7b2abf4d9ee292605a93699543"}},
  {p1_cache_tab, ".*", {git, "git://github.com/processone/cache_tab", "7b89d6a"}},
  {p1_stringprep, ".*", {git, "git://github.com/processone/stringprep.git", "9e9e0f8dbe6a70ef36e1d4436b458ca5a77fbcfb"}},

  {proper, ".*", {git, "git://github.com/manopapad/proper.git", "20e62bc32f9bd43fe2ff52944a4ef99eb71d1399"}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.3"}}},

  {pa, ".*", {git, "git://github.com/lavrin/pa.git", "c616d3f9"}},
  {usec, ".*", {git, "git://github.com/esl/usec.git", {branch, "master"}}},
  {ecoveralls, ".*", {git, "git://github.com/nifoc/ecoveralls.git", "40fa0d2f2057fff29e964f94fccf6ef2f13d34d2"}},
  {mustache, ".*", {git, "git://github.com/mojombo/mustache.erl.git", "d0246fe143058b6404f66cf99fece3ff6e87b7ed"}},
  {recon, "2.2.1", {git, "git://github.com/ferd/recon.git", {tag, "2.2.1"}}}
 ]}.

{pre_hooks, [{compile, "tools/compile_riak_pb.sh"}]}.

{ct_extra_params, "-pa apps/ejabberd/ebin "
                  "-pa apps/stringprep/ebin "
                  "-sasl sasl_error_logger false"}.

{recursive_cmds, [ct, eunit, clean]}.
