%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd_cookie, ejabberd}.
{ejabberd_domain, <<"localhost">>}.

{escalus_users, [
    {alice, [
        {username, <<"alice">>},
        {server, <<"localhost">>},
        {password, <<"makota">>},
        {compression, <<"zlib">>}]},
    {bob, [
        {username, <<"bob">>},
        {server, <<"localhost">>},
        {password, <<"makrolika">>},
        {ssl, optional}]},
    {kate, [
        {username, <<"kate">>},
        {server, <<"localhost">>},
        {password, <<"makrowe;p">>}]},
        %%{port, 5280},
        %%{transport, bosh}]},
    {mike, [
        {username, <<"mike">>},
        {server, <<"localhost">>},
        {password, <<"nicniema">>}]},
    {geralt, [
        {username, <<"geralt">>},
        {server, <<"localhost">>},
        {password, <<"witcher">>},
        {transport, ws},
        {port, 5288},
        {wspath, <<"/ws-xmpp">>}]}
]}.

{escalus_server2_users, [
    {alice2, [
        {username, <<"alice">>},
        {server, <<"localhost2">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota2">>}]},
    {bob2, [
        {username, <<"bob">>},
        {server, <<"michał">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota3">>}]}
]}.

{escalus_anon_users, [
    {jon, [
        {username, <<"jon">>},
        {server, <<"anonymous.localhost">>},
        {host, <<"localhost">>},
        {auth_method, <<"SASL-ANON">>}]}
                     ]}.

{ejabberd_nodes, [
    internal_mnesia,
    internal_redis,
    odbc_mnesia,
    odbc_redis,
    external_mnesia,
    external_redis
]}.

%% vim: ft=erlang
