%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{vcard,
 [{common, [
            %% This is the md5 of the UTF-8 of В Советской России, дорога
            %% разветвляется вы
            {utf8_street_md5,
             <<45,220,43,98,22,144,242,20,45,41,160,214,142,89,215,30>>},
            %% This is the UTF-8 of Москва
            {moscow_ru_utf8, <<208,156,208,190,209,129,208,186,208,178,208,176>>}
           ]},
  {data,
   [{all_search,
     [{server_jid, <<"localhost">>},
      {secondary_server_jid, <<"localhost.bis">>},
      {directory_jid, <<"vjud.localhost">>},
      {nonexistent_jid, <<"nonexistent@localhost">>},
      {expected_vcards,
       [{<<"alice@localhost">>,
         [{<<"NICKNAME">>, <<"alice">>},
          {<<"FN">>, <<"Wonderland, Alice">>},
          {<<"JABBERID">>, <<"john@all.search.modvcard">>},
          {<<"TITLE">>, <<"Executive Director">>},
          {<<"ROLE">>, <<"Patron Saint">>},
          {<<"DESC">>, <<"active">>},
          {<<"URL">>, <<"http://john.doe/">>},
          {<<"EMAIL">>,
           [{<<"USERID">>, <<"alice@mail.example.com">>}]},
          {<<"N">>,
           [{<<"FAMILY">>, <<"Wonderland">>},
            {<<"GIVEN">>, <<"Alice">>},
            {<<"MIDDLE">>, <<"I.N.">>}]},
          {<<"ADR">>,
           [{<<"STREET">>, <<"1899 Wynkoop Street">>},
            {<<"LOCALITY">>,
             <<208,156,208,190,209,129,208,186,208,178,208,176>>},
            {<<"REGION">>, <<"CO">>},
            {<<"PCODE">>, <<"91210">>}]},
          {<<"TEL">>,
           [{<<"NUMBER">>, <<"+1 512 305 0280">>}]},
          {<<"ORG">>,
           [{<<"ORGNAME">>, <<"The world">>},
            {<<"ORGUNIT">>, <<"People">>}]}]},
        {<<"bob@localhost">>,
         [{<<"NICKNAME">>, <<"bob">>},
          {<<"FN">>, <<"Doe, Bob">>},
          {<<"JABBERID">>, <<"bob@all.search.modvcard">>},
          {<<"ADR">>, [{<<"STREET">>,
                        <<208,146,32,208,161,208,190,208,178,
                          208,181,209,130,209,129,208,186,208,190,208,185,32,
                          208,160,208,190,209,129,209,129,208,184,208,184,44,
                          32,208,180,208,190,209,128,208,190,208,179,208,176,
                          32,209,128,208,176,208,183,208,178,208,181,209,130,
                          208,178,208,187,209,143,208,181,209,130,209,129,209,
                          143,32,208,178,209,139>>}]}]},
        {<<"localhost">>,
         [{<<"FN">>, <<"ejabberd">>},
          {<<"DESC">>, <<"Erlang Jabber Server\nCopyright (c) 2002-2011 "
                         "ProcessOne">>}]},
        {<<"vjud.localhost">>,
         [{<<"FN">>, <<"ejabberd/mod_vcard">>},
          {<<"DESC">>, <<"ejabberd vCard module\nCopyright (c) 2003-2011 "
                         "ProcessOne">>}]},
        {<<"bob@localhost.bis">>,
         [{<<"NICKNAME">>, <<"bob">>},
          {<<"FN">>, <<"Doe, Bob">>},
          {<<"JABBERID">>, <<"bob@localhost.bis">>},
          {<<"N">>,
           [{<<"FAMILY">>, <<"Doe">>},
            {<<"GIVEN">>, <<"Bob">>}]}]},
        {<<"alice@localhost.bis">>,
         [{<<"NICKNAME">>, <<"alice">>},
          {<<"FN">>, <<"Doe, Alice">>},
          {<<"JABBERID">>, <<"alice@localhost.bis">>},
          {<<"N">>,
           [{<<"FAMILY">>, <<"Doe">>},
            {<<"GIVEN">>, <<"Alice">>}]}]}
       ]},
      {search_results,
       [{open,
         [{<<"alice@localhost">>,
           [{<<"jid-single">>,<<"jid">>,
             <<"Jabber ID">>,<<"alice@localhost">>},
            {<<"text-single">>,<<"fn">>,
             <<"Full Name">>,<<"Wonderland, Alice">>},
            {<<"text-single">>,<<"last">>,
             <<"Family Name">>,<<"Wonderland">>},
            {<<"text-single">>,<<"first">>,<<"Name">>,<<"Alice">>},
            {<<"text-single">>,<<"middle">>,<<"Middle Name">>,<<"I.N.">>},
            {<<"text-single">>,<<"nick">>,<<"Nickname">>,<<"alice">>},
            {<<"text-single">>,<<"bday">>,<<"Birthday">>,<<>>},
            {<<"text-single">>,<<"ctry">>,<<"Country">>,<<>>},
            {<<"text-single">>,<<"locality">>,<<"City">>,
             <<208,156,208,190,209,129,208,186,208,178,208,176>>},
            {<<"text-single">>,<<"email">>,
             <<"Email">>,<<"alice@mail.example.com">>},
            {<<"text-single">>,<<"orgname">>,
             <<"Organization Name">>,<<"The world">>},
            {<<"text-single">>,<<"orgunit">>,
             <<"Organization Unit">>,<<"People">>}]},
          {<<"bob@localhost">>,
           [{<<"jid-single">>,<<"jid">>,
             <<"Jabber ID">>,<<"bob@localhost">>},
            {<<"text-single">>,<<"fn">>,<<"Full Name">>,<<"Doe, Bob">>},
            {<<"text-single">>,<<"last">>,<<"Family Name">>,<<"">>},
            {<<"text-single">>,<<"first">>,<<"Name">>,<<"">>},
            {<<"text-single">>,<<"middle">>,<<"Middle Name">>,<<"">>},
            {<<"text-single">>,<<"nick">>,<<"Nickname">>,<<"bob">>},
            {<<"text-single">>,<<"bday">>,<<"Birthday">>,<<>>},
            {<<"text-single">>,<<"ctry">>,<<"Country">>,<<>>},
            {<<"text-single">>,<<"locality">>,<<"City">>,<<"">>},
            {<<"text-single">>,<<"email">>,
             <<"Email">>,<<"">>},
            {<<"text-single">>,<<"orgname">>,
             <<"Organization Name">>,<<>>},
            {<<"text-single">>,<<"orgunit">>,
             <<"Organization Unit">>,<<"">>}]},
          {<<"bob@localhost.bis">>,
           [{<<"jid-single">>,<<"jid">>,
             <<"Jabber ID">>,<<"bob@localhost.bis">>},
            {<<"text-single">>,<<"fn">>,<<"Full Name">>,<<"Doe, Bob">>},
            {<<"text-single">>,<<"last">>,<<"Family Name">>,<<"Doe">>},
            {<<"text-single">>,<<"first">>,<<"Name">>,<<"Bob">>},
            {<<"text-single">>,<<"middle">>,<<"Middle Name">>,<<"">>},
            {<<"text-single">>,<<"nick">>,<<"Nickname">>,<<"bob">>},
            {<<"text-single">>,<<"bday">>,<<"Birthday">>,<<>>},
            {<<"text-single">>,<<"ctry">>,<<"Country">>,<<>>},
            {<<"text-single">>,<<"locality">>,<<"City">>,<<"">>},
            {<<"text-single">>,<<"email">>,
             <<"Email">>,<<"">>},
            {<<"text-single">>,<<"orgname">>,
             <<"Organization Name">>,<<>>},
            {<<"text-single">>,<<"orgunit">>,
             <<"Organization Unit">>,<<"">>}]},
          {<<"alice@localhost.bis">>,
           [{<<"jid-single">>,<<"jid">>,
             <<"Jabber ID">>,<<"alice@localhost.bis">>},
            {<<"text-single">>,<<"fn">>,<<"Full Name">>,<<"Doe, Alice">>},
            {<<"text-single">>,<<"last">>,<<"Family Name">>,<<"Doe">>},
            {<<"text-single">>,<<"first">>,<<"Name">>,<<"Alice">>},
            {<<"text-single">>,<<"middle">>,<<"Middle Name">>,<<"">>},
            {<<"text-single">>,<<"nick">>,<<"Nickname">>,<<"alice">>},
            {<<"text-single">>,<<"bday">>,<<"Birthday">>,<<>>},
            {<<"text-single">>,<<"ctry">>,<<"Country">>,<<>>},
            {<<"text-single">>,<<"locality">>,<<"City">>,<<"">>},
            {<<"text-single">>,<<"email">>,
             <<"Email">>,<<"">>},
            {<<"text-single">>,<<"orgname">>,
             <<"Organization Name">>,<<>>},
            {<<"text-single">>,<<"orgunit">>,
             <<"Organization Unit">>,<<"">>}]}
         ]},
        {some,
         [{<<"alice@localhost">>,
           [{<<"jid-single">>,<<"jid">>,
             <<"Jabber ID">>,<<"alice@localhost">>},
            {<<"text-single">>,<<"fn">>,
             <<"Full Name">>,<<"Wonderland, Alice">>},
            {<<"text-single">>,<<"last">>,
             <<"Family Name">>,<<"Wonderland">>},
            {<<"text-single">>,<<"first">>,<<"Name">>,<<"Alice">>},
            {<<"text-single">>,<<"middle">>,<<"Middle Name">>,<<"I.N.">>},
            {<<"text-single">>,<<"nick">>,<<"Nickname">>,<<"alice">>},
            {<<"text-single">>,<<"bday">>,<<"Birthday">>,<<>>},
            {<<"text-single">>,<<"ctry">>,<<"Country">>,<<>>},
            {<<"text-single">>,<<"locality">>,<<"City">>,
             <<208,156,208,190,209,129,208,186,208,178,208,176>>},
            {<<"text-single">>,<<"email">>,
             <<"Email">>,<<"alice@mail.example.com">>},
            {<<"text-single">>,<<"orgname">>,
             <<"Organization Name">>,<<"The world">>},
            {<<"text-single">>,<<"orgunit">>,
             <<"Organization Unit">>,<<"People">>}]}
         ]},
        {wildcard,
          [{<<"bob@localhost">>,
           [{<<"jid-single">>,<<"jid">>,
             <<"Jabber ID">>,<<"bob@localhost">>},
            {<<"text-single">>,<<"fn">>,<<"Full Name">>,<<"Doe, Bob">>},
            {<<"text-single">>,<<"last">>,<<"Family Name">>,<<"">>},
            {<<"text-single">>,<<"first">>,<<"Name">>,<<"">>},
            {<<"text-single">>,<<"middle">>,<<"Middle Name">>,<<"">>},
            {<<"text-single">>,<<"nick">>,<<"Nickname">>,<<"bob">>},
            {<<"text-single">>,<<"bday">>,<<"Birthday">>,<<>>},
            {<<"text-single">>,<<"ctry">>,<<"Country">>,<<>>},
            {<<"text-single">>,<<"locality">>,<<"City">>,<<"">>},
            {<<"text-single">>,<<"email">>,
             <<"Email">>,<<"">>},
            {<<"text-single">>,<<"orgname">>,
             <<"Organization Name">>,<<>>},
            {<<"text-single">>,<<"orgunit">>,
             <<"Organization Unit">>,<<"">>}]},
          {<<"bob@localhost.bis">>,
           [{<<"jid-single">>,<<"jid">>,
             <<"Jabber ID">>,<<"bob@localhost.bis">>},
            {<<"text-single">>,<<"fn">>,<<"Full Name">>,<<"Doe, Bob">>},
            {<<"text-single">>,<<"last">>,<<"Family Name">>,<<"Doe">>},
            {<<"text-single">>,<<"first">>,<<"Name">>,<<"Bob">>},
            {<<"text-single">>,<<"middle">>,<<"Middle Name">>,<<"">>},
            {<<"text-single">>,<<"nick">>,<<"Nickname">>,<<"bob">>},
            {<<"text-single">>,<<"bday">>,<<"Birthday">>,<<>>},
            {<<"text-single">>,<<"ctry">>,<<"Country">>,<<>>},
            {<<"text-single">>,<<"locality">>,<<"City">>,<<"">>},
            {<<"text-single">>,<<"email">>,
             <<"Email">>,<<"">>},
            {<<"text-single">>,<<"orgname">>,
             <<"Organization Name">>,<<>>},
            {<<"text-single">>,<<"orgunit">>,
             <<"Organization Unit">>,<<"">>}]},
          {<<"alice@localhost.bis">>,
           [{<<"jid-single">>,<<"jid">>,
             <<"Jabber ID">>,<<"alice@localhost.bis">>},
            {<<"text-single">>,<<"fn">>,<<"Full Name">>,<<"Doe, Alice">>},
            {<<"text-single">>,<<"last">>,<<"Family Name">>,<<"Doe">>},
            {<<"text-single">>,<<"first">>,<<"Name">>,<<"Alice">>},
            {<<"text-single">>,<<"middle">>,<<"Middle Name">>,<<"">>},
            {<<"text-single">>,<<"nick">>,<<"Nickname">>,<<"alice">>},
            {<<"text-single">>,<<"bday">>,<<"Birthday">>,<<>>},
            {<<"text-single">>,<<"ctry">>,<<"Country">>,<<>>},
            {<<"text-single">>,<<"locality">>,<<"City">>,<<"">>},
            {<<"text-single">>,<<"email">>,
             <<"Email">>,<<"">>},
            {<<"text-single">>,<<"orgname">>,
             <<"Organization Name">>,<<>>},
            {<<"text-single">>,<<"orgunit">>,
             <<"Organization Unit">>,<<"">>}]}
          ]}
       ]}
     ]},
    {ltd_search,
     [{directory_jid, <<"directory.localhost">>},
      {server_jid, <<"localhost">>}
     ]},
    {no_search,
     [{directory_jid, <<"vjud.localhost">>},
      {server_jid, <<"localhost">>}
     ]}
   ]}
 ]}.

 %% vim: ft=erlang
