img#mim-readme-logo {
    margin-right: 1.5em;
    margin-bottom: 1em;
}

[data-md-color-scheme] {
  --md-primary-fg-color: #459bb6;
  --md-accent-fg-color: #0554b8;
}

/* dark theme */
[data-md-color-scheme="slate"] {
  --md-accent-fg-color: #7ab5ff;
}

/* The topbar with brand color. */
.md-header {
  background-color: var(--md-primary-fg-color);
  color: #fff;
}

/* The search pill. */
.md-header .md-search__button {
  background-color: #ffffff26;
  color: #fff;
}

.md-header .md-search__button:focus,
.md-header .md-search__button:hover {
  background-color: #ffffff40;
  color: #fff;
}

.md-header .md-search__button::before {
  background-color: #fff;
}

/* The keyboard-shortcut. */
.md-header .md-search__button::after {
  background: #0000002e;
}

/* The embedded GraphQL reference. */
.md-typeset iframe.graphql-doc {
  display: block;
  width: 100%;
  height: 800px;
  border: 1px solid black;
}

/* Use more horizontal space on desktop docs pages. */
@media screen and (min-width: 76.25em) {
  .md-grid {
    max-width: min(100%, 85rem);
  }

  .md-sidebar--primary {
    width: 15rem;
  }

  .md-sidebar--secondary {
    width: 20rem;
  }

  [dir="ltr"] .md-sidebar--primary .md-sidebar__inner {
    padding-right: calc(100% - 14.4rem);
  }

  [dir="rtl"] .md-sidebar--primary .md-sidebar__inner {
    padding-left: calc(100% - 14.4rem);
  }

  [dir="ltr"] .md-sidebar--secondary .md-sidebar__inner {
    padding-right: calc(100% - 19.4rem);
  }

  [dir="rtl"] .md-sidebar--secondary .md-sidebar__inner {
    padding-left: calc(100% - 19.4rem);
  }
}

/* Don't scale the font up to 150% */
@media screen and (min-width: 125em) {
  html {
    font-size: 137.5%;
  }
}
