[Unit]
Description=MongooseIM XMPP service
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
User=mongooseim
Group=mongooseim
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/mongooseimctl start
ExecStop=/usr/bin/mongooseimctl stop

[Install]
WantedBy=multi-user.target
