HOME            = .
RANDFILE        = $ENV::HOME/.rnd

oid_section = xmpp_oids

####################################################################
[ req ]
default_bits        = 4096
distinguished_name  = client_distinguished_name
req_extensions      = client_req_extensions
string_mask         = utf8only
prompt              = no

####################################################################
[ xmpp_oids ]
id-on-xmppAddr = 1.3.6.1.5.5.7.8.5

####################################################################
[ client_distinguished_name ]
commonName                  = {{cn}}

####################################################################
[ client_req_extensions ]

subjectKeyIdentifier        = hash
basicConstraints            = CA:FALSE
keyUsage                    = digitalSignature, keyEncipherment
subjectAltName              = @alternate_names
nsComment                   = "Fake Dev-Only Certificate for SASL EXTERNAL tests"

###############################################################################################################
## subjectAltName sections, see 'man x509v3_config' for more information
## example:
## otherName.1 = id-on-xmppAddr;UTF8:alice@localhost
###############################################################################################################
[ alternate_names ]
{{{xmppAddrs}}}
email = {{cn}}@mail.domain.com ## this is just to have sth in the section
