% Each supported database must be tested with CETS
% TODO: Migrate ldap and elasticsearch_and_cassandra to PostgreSQL and CETS
[
    {name, cockroachdb_cets_latest},
    {executor, "latest_otp_cockroachdb_redis"},
    {preset, "cockroachdb_cets"},
    {requires, ["latest_otp_docker"]}
].
[
    {name, mysql_cets_latest},
    {executor, "latest_otp_mysql_redis"},
    {preset, "mysql_cets"},
    {requires, ["latest_otp_docker"]}
].
[
    {name, pgsql_cets_latest},
    {executor, "latest_otp_pgsql_redis"},
    {preset, "pgsql_cets"},
    {requires, ["latest_otp_docker"]}
].
[
    {name, ldap_mnesia_latest},
    {executor, "latest_otp_ldap_redis"},
    {preset, "ldap_mnesia"},
    {requires, ["latest_otp_docker"]}
].
[
    {name, elasticsearch_and_cassandra_mnesia_latest},
    {executor, "latest_otp_elasticsearch_cassandra_redis"},
    {preset, "elasticsearch_and_cassandra_mnesia"},
    {requires, ["latest_otp_docker"]}
].
% NOTE: This preset does not use CETS, since that setup does not make sense. Instead, it uses
%       the default configuration (though not recommended), where Mnesia is used for both
%       "outgoing" and internal database.
%       This preset also runs RabbitMQ and MinIO.
[
    {name, internal_mnesia_latest},
    {executor, "latest_otp_redis_minio_rmq"},
    {preset, "internal_mnesia"},
    {requires, ["latest_otp_docker"]}
].

% Each supported internal database must be tested using PostgreSQL
[
    {name, pgsql_mnesia_latest},
    {executor, "latest_otp_pgsql_redis"},
    {preset, "pgsql_mnesia"},
    {requires, ["latest_otp_docker"]}
].
[
    {name, pgsql_redis_latest},
    {executor, "latest_otp_pgsql_redis"},
    {preset, "pgsql_redis"},
    {requires, ["latest_otp_docker"]}
].

% Dynamic domains must be tested for PostgreSQL and CETS
[
    {name, dynamic_domains_pgsql_cets_latest},
    {spec, "dynamic_domains.spec"},
    {include, pgsql_cets_latest}
].

% Legacy OTP must be tested on PostgreSQL and CETS, covering both default spec and dynamic domains
[
    {name, pgsql_cets_legacy},
    {executor, "legacy_otp_pgsql_redis"},
    {preset, "pgsql_cets"},
    {requires, ["legacy_otp_docker"]}
].
[
    {name, dynamic_domains_pgsql_cets_legacy},
    {spec, "dynamic_domains.spec"},
    {include, pgsql_cets_legacy}
].
