% Each supported database must be tested with CETS
[
    {name, cockroachdb_cets_latest},
    {executor, "latest_otp_cockroachdb_redis"},
    {preset, "cockroachdb_cets"},
    {requires, ["latest_otp_docker"]}
].
%% [
%%     {name, mysql_cets_latest},
%%     {executor, "latest_otp_mysql_redis"},
%%     {preset, "mysql_cets"},
%%     {requires, ["latest_otp_docker"]}
%% ].
[
    {name, pgsql_cets_latest},
    {executor, "latest_otp_pgsql_redis"},
    {preset, "pgsql_cets"},
    {requires, ["latest_otp_docker"]}
].
%% [
%%     {name, ldap_cets_latest},
%%     {executor, "latest_otp_ldap_redis"},
%%     {preset, "ldap_cets"},
%%     {requires, ["latest_otp_docker"]}
%% ].
[
    {name, internal_mnesia_latest},
    {executor, "latest_otp_redis_minio_rmq"},
    {preset, "internal_mnesia"},
    {requires, ["latest_otp_docker"]}
].

% Each supported internal database must be tested using PostgreSQL
[
    {name, pgsql_mnesia_latest},
    {executor, "latest_otp_pgsql_redis"},
    {preset, "pgsql_mnesia"},
    {requires, ["latest_otp_docker"]}
].

% Dynamic domains must be tested for PostgreSQL and CETS
[
    {name, dynamic_domains_pgsql_cets_latest},
    {spec, "dynamic_domains.spec"},
    {include, pgsql_cets_latest}
].

% Legacy OTP must be tested on PostgreSQL and CETS, covering both default spec and dynamic domains
[
    {name, pgsql_cets_legacy},
    {executor, "legacy_otp_pgsql_redis"},
    {preset, "pgsql_cets"},
    {requires, ["legacy_otp_docker"]}
].
[
    {name, dynamic_domains_pgsql_cets_legacy},
    {spec, "dynamic_domains.spec"},
    {include, pgsql_cets_legacy}
].

% TODO: Add elasticsaerch_and_cassandra_cets
