{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R?1[45678]"}.

{deps, [
        {escalus, ".*", {git, "git://github.com/esl/escalus.git", {branch, "ping-request"}}},
        {exml, "2\.1\..*", {git, "git://github.com/esl/exml.git", {tag, "2.1.5"}}},
        {usec, ".*", {git, "git://github.com/esl/usec.git", {branch, "master"}}},
        {mustache, ".*", {git, "git://github.com/mojombo/mustache.erl.git", {branch, "master"}}},
        {katt, ".*", {git, "git://github.com/for-GET/katt.git", {tag, "1.3.1-rc"}}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", "20e62bc32f9bd43fe2ff52944a4ef99eb71d1399"}}
]}.

