{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R?1[4567]"}.

{deps, [
        {escalus, "2\.6.\.*", {git, "git://github.com/esl/escalus.git", "e0cb7d7"}},
        {exml, "2\.1\..*", {git, "git://github.com/esl/exml.git", {tag, "2.1.5"}}},
        {mustache, ".*", {git, "git://github.com/mojombo/mustache.erl.git", {branch, "master"}}},
        {katt, ".*", {git, "git://github.com/for-GET/katt.git", "e14ac2c8dfde73dc7b4d1526b9fa702ccf95a8a8"}},
        {proper, "1\.1", {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}}
]}.

