%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% coding: utf-8

%% DEPRECATED!
%% TODO: This entire block assumes there's just one node in the tests which is false.
%%       Stop using it as soon as possible (i.e. convert suites to use `hosts` defined below).
%%       See s2s_SUITE for example on using `hosts` to RPC into nodes (uses CT "require").
%% the Erlang node name of tested ejabberd/MongooseIM
{ejabberd_node, 'mongooseim@localhost'}.
{ejabberd2_node, 'ejabberd2@localhost'}.
{ejabberd_cookie, ejabberd}.
%% the main XMPP domain served by the tested ejabberd/MongooseIM
{ejabberd_domain, <<"localhost">>}.
{ejabberd_secondary_domain, <<"localhost.bis">>}.
{ejabberd_reloaded_domain, <<"sogndal">>}.
{ejabberd_metrics_rest_port, 5288}.
{ejabberd2_metrics_rest_port, 5289}.
{ejabberd_string_format, bin}.

%% TODO: in every new use case this should be used instead
%%       of ejabberd_node, ejabberd2_node, ejabberd_domain,
%%       ejabberd_secondary_domain, ...
%% TODO: introduce host option verification ASAP,
%%       so that we rein the "bag of things" approach
{hosts, [{mim,  [{node, mongooseim@localhost},
                 {domain, <<"localhost">>},
                 {vars, "node1_vars.config"},
                 {cluster, mim}]},
         {mim2, [{node, ejabberd2@localhost},
                 {domain, <<"localhost">>},
                 {vars, "node2_vars.config"},
                 {cluster, mim}]},
         {mim3, [{node, mongooseim3@localhost},
                 {domain, <<"localhost">>},
                 {vars, "node3_vars.config"},
                 {cluster, mim}]},
         {fed,  [{node, fed1@localhost},
                 {domain, <<"fed1">>},
                 {vars, "fed1_vars.config"},
                 {cluster, fed}]}]}.

%% Use RPC and ejabberd_auth API for creating/deleting test users
{escalus_user_db, {module, escalus_ejabberd}}.
{escalus_xmpp_server, escalus_mongooseim}.

%% Use modules that implement the escalus_user_db behaviour:
%% {escalus_user_db, {module, escalus_ejabberd}}. % RPC-based registration
%% {escalus_user_db, {module, YourModule}}.
%% {escalus_user_db, {module, YourModule, ListOfOptions}}.

%% Log all stanzas sent and received (consumed) in the test cases
%% {stanza_log, true}.

{escalus_users, [
    {alice, [
        {username, <<"alicE">>},
        {server, <<"localhost">>},
        {password, <<"matygrysa">>}]},
    {bob, [
        {username, <<"bOb">>},
        {server, <<"localhost">>},
        {password, <<"makrolika">>}]},
    {bob_altpass, [
        {username, <<"bOb">>},
        {server, <<"localhost">>},
        {password, <<"niemakrolika">>}]},
    {carol, [
        {username, <<"carol">>},
        {server, <<"localhost">>},
        {password, <<"jinglebells">>},
        {transport, escalus_bosh},
        {path, <<"/http-bind">>},
        {port, 5280}]},
    {carol_s, [
        {username, <<"carol_s">>},
        {server, <<"localhost">>},
        {password, <<"jinglebells_s">>},
        {transport, escalus_bosh},
        {ssl, true},
        {path, <<"/http-bind">>},
        {port, 5285}]},
    {kate, [
        {username, <<"kate">>},
        {server, <<"localhost">>},
        {password, <<"makrowe;p">>}]},
    {mike, [
        {username, <<"mike">>},
        {server, <<"localhost">>},
        {password, <<"nicniema">>}]},
    {geralt, [
        {username, <<"geralt">>},
        {server, <<"localhost">>},
        {password, <<"witcher">>},
        {transport, escalus_ws},
        {port, 5280},
        {wspath, <<"/ws-xmpp">>}]},
    {geralt_s, [
        {username, <<"geralt_s">>},
        {server, <<"localhost">>},
        {password, <<"witcher_s">>},
        {transport, escalus_ws},
        {ssl, true},
        {port, 5285},
        {wspath, <<"/ws-xmpp">>}]},
    {hacker, [
        {username, <<"hacker">>},
        {server, <<"localhost">>},
        {password, <<"bringdowntheserver">>},
        {compression, <<"zlib">>},
        {port, 5223}]},
    {admin, [
        {username, <<"admin">>},
        {server, <<"localhost">>},
        {password, <<"bruce_almighty">>}]},
    {secure_joe, [
        {username, <<"secure_joe">>},
        {server, <<"localhost">>},
        {password, <<"break_me">>},
        {compression, <<"zlib">>},
        {starttls, required}]},
    {astrid, [
        {username, <<"astrid">>},
        {server, <<"sogndal">>},
        {host, <<"localhost">>},
        {password, <<"doctor">>}]},
    {alice2, [
        {username, <<"alice">>},
        {server, <<"fed1">>},
        {host, <<"localhost">>},
        {port, 5242},
        {password, <<"makota2">>}]},
    {bob2, [
        {username, <<"bob">>},
        {server, <<109,105,99,104,97,197,130>>}, %% <<"michał"/utf8>>
        {host, <<"localhost">>},
        {port, 5242},
        {password, <<"makota3">>}]},
    {clusterguy, [
        {username, <<"clusterguy">>},
        {server, <<"localhost">>},
        {host, <<"localhost">>},
        {password, <<"distributionftw">>},
        {port, 5232}]},
    {clusterbuddy, [
        {username, <<"clusterbuddy">>},
        {server, <<"localhost">>},
        {host, <<"localhost">>},
        {password, <<"wasssssssup">>},
        {port, 5232}]}
]}.

{escalus_anon_users, [
    {jon, [
        {username, <<"jon">>},
        {server, <<"anonymous.localhost">>},
        {host, <<"localhost">>},
        {auth_method, <<"SASL-ANON">>}]}
                     ]}.

{ejabberd_nodes, [
    internal_mnesia,
    internal_redis,
    odbc_mnesia,
    odbc_redis,
    external_mnesia,
    external_redis,
    ldap_mnesia
]}.

{ejabberd_presets, [
    {internal_mnesia,
     [{sm_backend, "{mnesia, []}"},
      {auth_method, "internal"}]},
    {internal_redis,
     [{sm_backend, "{redis, [{pool_size, 3}, {worker_config, [{host, \"localhost\"}, {port, 6379}]}]}"},
      {auth_method, "internal"}]},
    {pgsql_mnesia,
     [{sm_backend, "{mnesia, []}"},
      {auth_method, "odbc"},
      {odbc_server, "{odbc_server, {pgsql, \"localhost\", \"ejabberd\", \"ejabberd\", \"%ODBC_PASSWORD%\"}}."},
      {mod_last, "{mod_last, [{backend, odbc}]},"},
      {mod_privacy, "{mod_privacy, [{backend, odbc}]},"},
      {mod_private, "{mod_private, [{backend, odbc}]},"},
      {mod_offline, "{mod_offline, [{backend, odbc}]},"},
      {mod_vcard, "{mod_vcard, [{backend, odbc}]},"},
      {mod_roster, "{mod_roster, [{backend, odbc}]},"}]},
    {odbc_pgsql_mnesia,
     [{sm_backend, "{mnesia, []}"},
      {auth_method, "odbc"},
      {odbc_server, "{odbc_server, \"DSN=ejabberd-pgsql;UID=ejabberd;PWD=%ODBC_PASSWORD%\"}."},
      {odbc_server_type, "{odbc_server_type, pgsql}."},
      {mod_last, "{mod_last, [{backend, odbc}]},"},
      {mod_privacy, "{mod_privacy, [{backend, odbc}]},"},
      {mod_private, "{mod_private, [{backend, odbc}]},"},
      {mod_offline, "{mod_offline, [{backend, odbc}]},"},
      {mod_vcard, "{mod_vcard, [{backend, odbc}]},"},
      {mod_roster, "{mod_roster, [{backend, odbc}]},"}]},
    {mysql_mnesia,
     [{sm_backend, "{mnesia, []}"},
      {auth_method, "odbc"},
      {odbc_server, "{odbc_server, {mysql, \"localhost\", \"ejabberd\", \"ejabberd\", \"%ODBC_PASSWORD%\"}}."},
      {mod_last, "{mod_last, [{backend, odbc}]},"},
      {mod_privacy, "{mod_privacy, [{backend, odbc}]},"},
      {mod_private, "{mod_private, [{backend, mysql}]},"},
      {mod_offline, "{mod_offline, [{backend, odbc}]},"},
      {mod_vcard, "{mod_vcard, [{backend, odbc}]},"},
      {mod_roster, "{mod_roster, [{backend, odbc}]},"}]},
    {mysql_redis,
     [{sm_backend, "{redis, [{pool_size, 3}, {worker_config, [{host, \"localhost\"}, {port, 6379}]}]}"},
      {auth_method, "odbc"},
      {odbc_server, "{odbc_server, {mysql, \"localhost\", \"ejabberd\", \"ejabberd\", \"%ODBC_PASSWORD%\"}}."},
      {mod_last, "{mod_last, [{backend, odbc}]},"},
      {mod_privacy, "{mod_privacy, [{backend, odbc}]},"},
      {mod_private, "{mod_private, [{backend, mysql}]},"},
      {mod_offline, "{mod_offline, [{backend, odbc}]},"},
      {mod_vcard, "{mod_vcard, [{backend, odbc}]},"},
      {mod_roster, "{mod_roster, [{backend, odbc}]},"}]},
    {external_mnesia,
     [{sm_backend, "{mnesia, []}"},
      {auth_method, "external"},
      {ext_auth_script, "{extauth_program, \"priv/sample_external_auth.py\"}"}]},
    {ldap_mnesia,
     [{sm_backend, "{mnesia, []}"},
      {auth_method, "ldap"},
      {auth_ldap, "{ldap_servers,[\"localhost\"]}.\n"
                  "{ldap_rootdn,\"cn=admin,dc=esl,dc=com\"}.\n"
                  "{ldap_password, \"%ODBC_PASSWORD%\"}.\n"
                  "{ldap_base, \"ou=Users,dc=esl,dc=com\"}.\n"
                  "{ldap_filter, \"(objectClass=inetOrgPerson)\"}.\n"
      },
      {mod_vcard,"{mod_vcard, [{backend, ldap},\n"
                               "{ldap_filter,\"(objectClass=inetOrgPerson)\"},\n"
                               "{ldap_base, \"ou=Users,dc=esl,dc=com\"}\n"
                               "]},"}

     ]},
    {riak_mnesia,
     [{sm_backend, "{mnesia, []}"},
      {auth_method, "riak"},
      {riak_server, "{riak_server, [{pool_size, 5}, {address, \"127.0.0.1\"},{port, 8087}]}."},
      {mod_roster, "{mod_roster, [{backend, riak}]},"},
      {mod_private, "{mod_private, [{backend, riak}]},"},
      {mod_vcard, "{mod_vcard, [{backend, riak}]},"},
      {mod_offline, "{mod_offline, [{backend, riak}]},"},
      {mod_last, "{mod_last, [{backend, riak}]},"},
      {mod_privacy, "{mod_privacy, [{backend, riak}]},"}
     ]}
]}.


%% vim: ft=erlang
