{erl_opts, [debug_info,
            {i, ["include"]},
            {d, xml_nif},
            {parse_transform, lager_transform}]}.

{require_otp_vsn, "1[789]"}.

{port_specs,
 [{".*", "priv/lib/tls_drv.so", ["c_src/tls_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lssl"}]}]},
  {".*", "priv/lib/ejabberd_zlib_drv.so", ["c_src/ejabberd_zlib_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lz"}]}]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{ct_extra_params, "-pa test "
                  "-ct_hooks ct_progress_hook "
                  "-include src "
                  "-include ../ "}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
