{erl_opts, [debug_info,
            {i, ["include"]},
            {d, xml_nif},
            {parse_transform, lager_transform}]}.

%% For behaviour info
{erl_first_files, [
    "src/gen_mod.erl",
    "src/mod_aws_sns.erl"
]}.

{port_specs,
 [
  {".*", "priv/lib/ejabberd_zlib_drv.so", ["c_src/ejabberd_zlib_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lz"}]}]},
  {".*", "priv/lib/mongoose_mam_id.so", ["c_src/mongoose_mam_id.cpp"], [{env, [{"CXXFLAGS", "$CXXFLAGS -std=c++11"}]}]}
 ]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
