{hosts, "[\"localhost\",
          \"anonymous.localhost\",
          \"localhost.bis\"
         ]"}.
{host_config,
"{host_config, \"anonymous.localhost\", [{auth_method, anonymous},
                                        {allow_multiple_connections, true},
                                        {anonymous_protocol, both}]}." }.
{outgoing_s2s_port, 5279}.
{odbc_server, ""}.
{auth_ldap,""}.
{s2s_addr, "{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{node_name, "mongooseim@localhost"}.
{ejabberd_c2s_port, 5222}.
{secondary_c2s,
    "{ 5223, ejabberd_c2s, [
    {zlib, 4096},
    {access, c2s},
        {shaper, c2s_shaper},
        {max_stanza_size, 65536}
    ]},"}.
{ejabberd_s2s_in_port, 5269}.
{mod_last, "{mod_last, []},"}.
{mod_offline, "{mod_offline, [{access_max_user_messages, max_user_offline_messages}]},"}.
{mod_privacy, "{mod_privacy, []},"}.
{mod_private, "{mod_private, []},"}.
{mod_roster, "{mod_roster, []},"}.
{mod_vcard, "{mod_vcard, [ {allow_return_all, true},\n"
                "{search_all_hosts, true}\n"
                "%{matches, 1},\n"
                "%{search, true},\n"
                "%{host, directory.@HOST@}\n"
                "]},"}.
{cowboy_port, 5280}.
{tls_config, "{certfile, \"/tmp/server.pem\"}, starttls,"}.
{ {s2s_addr, "localhost2"}, {127,0,0,1} }.
{ {s2s_addr, "michał"}, {127,0,0,1} }.
{module_host_config, ""}.
