{hosts, "[\"localhost\",
          \"anonymous.localhost\",
          \"localhost.bis\"
         ]"}.
{host_config,
"{host_config, \"anonymous.localhost\", [{auth_method, anonymous},
                                        {allow_multiple_connections, true},
                                        {anonymous_protocol, both}]}." }.
{outgoing_s2s_port, 5299}.
{odbc_server, ""}.
{auth_ldap,""}.
{s2s_addr, "{ {s2s_addr, \"fed1\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{node_name, "mongooseim@localhost"}.
{ejabberd_c2s_port, 5222}.
{secondary_c2s,
    "{ 5223, ejabberd_c2s, [
    {zlib, 4096},
    {access, c2s},
        {shaper, c2s_shaper},
        {max_stanza_size, 65536}
    ]},"}.
{ejabberd_s2s_in_port, 5269}.
{mod_amp, "{mod_amp, []},"}.
{ejabberd_service, ",{8888, ejabberd_service, [\n"
                 "                {access, all},\n"
                 "                {shaper_rule, fast},\n"
                 "                {ip, {127, 0, 0, 1}},\n"
                 "                {password, \"secret\"}\n"
                 "           ]}"}.
{mod_last, "{mod_last, []},"}.
{mod_offline, "{mod_offline, [{access_max_user_messages, max_user_offline_messages}]},"}.
{mod_privacy, "{mod_privacy, []},"}.
{mod_blocking, "{mod_blocking, []},"}.
{mod_private, "{mod_private, []},"}.
{mongoose_admin, "{mongoose_admin, []},"}.
{mod_roster, "{mod_roster, []},"}.
{mod_vcard, "{mod_vcard, [ %{matches, 1},\n"
                "%{search, true},\n"
                "%{host, directory.@HOST@}\n"
                "]},"}.
{cowboy_port, 5280}.
{cowboy_port_secure, 5285}.
{ {s2s_addr, "localhost2"}, {127,0,0,1} }.
{ {s2s_addr, "michał"}, {127,0,0,1} }.
{module_host_config, ""}.
{all_metrics_are_global, false}.
{registration_watchers, "{registration_watchers, [\"admin@localhost\"]},"}.
{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls,"}.
{https_config, "{ssl, [{certfile, \"priv/ssl/fake_cert.pem\"}, {keyfile, \"priv/ssl/fake_key.pem\"}, {password, \"\"}]},"}.
{zlib, "{zlib, 10000},"}.
{http_api_old_endpoint, "{5288, \"127.0.0.1\"}"}.
{http_api_endpoint, "{8088, \"127.0.0.1\"}"}.
{http_api_client_endpoint, "8089"}.
{s2s_use_starttls, "{s2s_use_starttls, optional}."}.
{s2s_certfile, "{s2s_certfile, \"priv/ssl/fake_server.pem\"}."}.
