## This file is based on a tutorial from StackOverflow:
## http://stackoverflow.com/questions/21297139/how-do-you-sign-certificate-signing-request-with-your-certification-authority/21340898#21340898

HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits        = 4096
default_keyfile     = fake_key.pem
distinguished_name  = server_distinguished_name
req_extensions      = server_req_extensions
string_mask         = utf8only

####################################################################
[ server_distinguished_name ]
countryName                 = PL
countryName_default         = PL

stateOrProvinceName         = Malopolska
stateOrProvinceName_default = Malopolska

localityName                = Krakow
localityName_default        = Krakow

commonName            = MongooseIM
commonName_default    = MongooseIM

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier        = hash
basicConstraints            = CA:FALSE
keyUsage                    = digitalSignature, keyEncipherment
subjectAltName              = @alternate_names
nsComment                   = "Fake Dev-Only Certificate"

####################################################################
[ alternate_names ]

DNS.1       = localhost
