{hosts, "[ \"fed1\" ]"}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "internal"}.
{outgoing_s2s_port, 5269}.
{odbc_server, ""}.
{s2s_addr, "{ {s2s_addr, \"localhost\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{node_name, "fed1@localhost"}.
{ejabberd_c2s_port, 5242}.
{ejabberd_s2s_in_port, 5299}.
{cowboy_port, 5282}.
{cowboy_port_secure, 5287}.
{ejabberd_service, ""}.
{mod_roster, "{mod_roster, []},"}.
{http_api_endpoint, "{5389, \"127.0.0.1\"}"}.
{s2s_use_starttls, "{s2s_use_starttls, optional}."}.
{s2s_certfile, "{s2s_certfile, \"priv/ssl/fake_server.pem\"}."}.
{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls, {ciphers, \"DHE-RSA-AES256-SHA\"},"}.
{secondary_c2s, ""}.
{http_api_old_endpoint, "{5293, \"127.0.0.1\"}"}.
{http_api_endpoint, "{8094, \"127.0.0.1\"}"}.
{http_api_client_endpoint, "8095"}.
{all_metrics_are_global, false}.
{c2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.
{s2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.

{normal_shaper_rate, 1000}.

{mongooseim_runner_user, []}.
{mongooseim_script_dir, "$(cd ${0%/*} && pwd)"}.
{mongooseim_etc_dir, "$RUNNER_BASE_DIR/etc"}.
{mongooseim_log_dir, "log"}.
{mongooseim_mdb_dir, "$RUNNER_BASE_DIR/Mnesia.$NODE"}.
{mongooseim_mdb_dir_toggle, "%"}.
{mongooseim_lock_dir, "$EJABBERD_DIR/var/lock"}.
