{node_name, "fed1@localhost"}.

{c2s_port, 5242}.
{incoming_s2s_port, 5299}.
{cowboy_port, 5282}.
{cowboy_secure_port, 5287}.
{outgoing_s2s_port, 5269}.
{http_api_endpoint_port, 5294}.
{http_api_old_endpoint_port, 5293}.
{http_api_client_endpoint_port, 8095}.

%% This node is for s2s testing.
%% "localhost" host should NOT be defined.
{hosts, "[ \"fed1\" ]"}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "internal"}.
{s2s_addr, "{ {s2s_addr, \"localhost\"}, {127,0,0,1} }. { {s2s_addr, \"localhost.bis\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{highload_vm_args, ""}.
{ejabberd_service, ""}.
{mod_roster, "{mod_roster, []},"}.
{s2s_use_starttls, "{s2s_use_starttls, optional}."}.
{s2s_certfile, "{s2s_certfile, \"priv/ssl/fake_server.pem\"}."}.
{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls, {ciphers, \"ECDHE-RSA-AES256-GCM-SHA384\"},"}.
{tls_module, ""}.
{secondary_c2s, ""}.
{http_api_old_endpoint, "{ {{ http_api_old_endpoint_port }}, \"127.0.0.1\"}"}.
{http_api_endpoint, "{ {{ http_api_endpoint_port }}, \"127.0.0.1\"}"}.
{http_api_client_endpoint, "{{ http_api_client_endpoint_port }}"}.
{all_metrics_are_global, false}.
{c2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.
{s2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.

{mongooseim_runner_user, []}.
{mongooseim_script_dir, "$(cd ${0%/*} && pwd)"}.
{mongooseim_etc_dir, "$RUNNER_BASE_DIR/etc"}.
{mongooseim_log_dir, "log"}.
{mongooseim_mdb_dir, "$RUNNER_BASE_DIR/Mnesia.$NODE"}.
{mongooseim_mdb_dir_toggle, "%"}.
{mongooseim_lock_dir, "$EJABBERD_DIR/var/lock"}.
{mongooseim_nodetool_etc_dir, "etc"}.
