%% vm.args
{node_name, "fed1@localhost"}.

%% mongooseim.toml
{c2s_port, 5242}.
{outgoing_s2s_port, 5269}.
{incoming_s2s_port, 5299}.
{http_port, 5282}.
{https_port, 5287}.
{http_graphql_api_admin_endpoint_port, 5556}.
{http_graphql_api_domain_admin_endpoint_port, 5546}.
{http_graphql_api_user_endpoint_port, 5566}.
{http_api_endpoint_port, 5294}.
{http_api_client_endpoint_port, 8095}.
{http_prometheus_endpoint_port, 9095}.

%% This node is for s2s testing.
%% "localhost" host should NOT be defined.
{hosts, "\"fed1\", \"fed2\""}.
{default_server_domain, "\"fed1\""}.
{cluster_name, "fed"}.
{redis_database_number, "2"}.

%% domain.example.com is for multitenancy preset, muc_SUITE:register_over_s2s
{s2s_addr, "[[s2s.outgoing.address]]
        host = \"localhost\"
        ip_address = \"127.0.0.1\"

    [[s2s.outgoing.address]]
      host = \"pubsub.localhost\"
      ip_address = \"127.0.0.1\"

    [[s2s.outgoing.address]]
      host = \"muc.localhost\"
      ip_address = \"127.0.0.1\"

    [[s2s.outgoing.address]]
      host = \"localhost.bis\"
      ip_address = \"127.0.0.1\"

    [[s2s.outgoing.address]]
      host = \"domain.example.com\"
      ip_address = \"127.0.0.1\"
"}.

{tls_config, "tls.verify_mode = \"none\"
  tls.certfile = \"priv/ssl/fake_cert.pem\"
  tls.keyfile = \"priv/ssl/fake_key.pem\""}.

{instrumentation, "[instrumentation.exometer]

[instrumentation.prometheus]

[instrumentation.log]"}.

{c2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.

{mod_cache_users, ""}.

{erlang_doctor_limit, 100000}.

%% Include common vars shared by all profiles
"./vars-toml.config".
