%% vm.args
{node_name, "mongooseim@localhost"}.

%% mongooseim.toml
{c2s_port, 5222}.
{c2s_tls_port, 5223}.
{outgoing_s2s_port, 5299}.
{incoming_s2s_port, 5269}.
{http_port, 5280}.
{https_port, 5285}.
{service_port, 8888}.
{kicking_service_port, 8666}.
{hidden_service_port, 8189}.
{http_graphql_api_admin_endpoint_port, 5551}.
{http_graphql_api_domain_admin_endpoint_port, 5541}.
{http_graphql_api_user_endpoint_port, 5561}.
{http_api_endpoint_port, 8088}.
{http_api_client_endpoint_port, 8089}.
{http_prometheus_endpoint_port, 9091}.

{hosts, "\"localhost\", \"anonymous.localhost\", \"localhost.bis\""}.
{host_types, "\"test type\", \"dummy auth\", \"anonymous\""}.
{default_server_domain, "\"localhost\""}.
{cluster_name, "mim"}.
{redis_database_number, "0"}.

{mod_amp, ""}.
{host_config,
  "[[host_config]]
  host = \"anonymous.localhost\"

  [host_config.auth.anonymous]
    allow_multiple_connections = true
    protocol = \"both\"
    {{#auth_anonymous_backend}}
    backend = \"{{{auth_anonymous_backend}}}\"
    {{/auth_anonymous_backend}}

[[host_config]]
  host_type = \"anonymous\"
  [host_config.modules.mod_presence]

  [host_config.auth.anonymous]
    allow_multiple_connections = true
    protocol = \"both\"

[[host_config]]
  host_type = \"dummy auth\"
  [host_config.modules.mod_presence]

  [host_config.auth.dummy]
    base_time = 1
    variance = 5
"}.
{auth_password_opts, "format = \"scram\"
    hash = [\"sha256\"]
    scram_iterations = 64"}.
{s2s_addr, "[[s2s.address]]
    host = \"fed1\"
    ip_address = \"127.0.0.1\""}.

{tls_config, "tls.verify_mode = \"none\"
  tls.certfile = \"priv/ssl/fake_server.pem\""}.

{secondary_c2s,
  "[[listen.c2s]]
  port = {{ c2s_tls_port }}
  access = \"c2s\"
  shaper = \"c2s_shaper\"
  max_stanza_size = 65536
  tls.certfile = \"priv/ssl/fake_server.pem\"
  tls.cacertfile = \"priv/ssl/cacert.pem\"
  tls.verify_mode = \"none\"
  tls.mode = \"tls\""}.
{listen_service,
  "[[listen.service]]
  port = {{ service_port }}
  access = \"all\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\"

[[listen.service]]
  port = {{ kicking_service_port }}
  access = \"all\"
  conflict_behaviour = \"kick_old\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\"

[[listen.service]]
  port = {{ hidden_service_port }}
  access = \"all\"
  hidden_components = true
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\""}.

{mod_cache_users, "  time_to_live = 2
  number_of_segments = 5\n"}.

{instrumentation, "[instrumentation.exometer]

[instrumentation.prometheus]

[instrumentation.log]"}.

{c2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.

{erlang_doctor_limit, 100000}.

%% Include common vars shared by all profiles
"./vars-toml.config".
