{c2s_tls_port, 5223}.
{outgoing_s2s_port, 5299}.
{service_port, 8888}.
{kicking_service_port, 8666}.
{hidden_service_port, 8189}.

{hosts, "\"localhost\",
         \"anonymous.localhost\",
         \"localhost.bis\"
        "}.
{host_config,
  "[[host_config]]
  host = \"anonymous.localhost\"

  [host_config.auth]
    methods = [\"anonymous\"]
    allow_multiple_connections = true
    anonymous_protocol = \"both\""}.
{password_format, "password.format = \"scram\"
  password.hash = [\"sha256\"]"}.
{scram_iterations, "scram_iterations = 64"}.
{s2s_addr, "[[s2s.address]]
    host = \"fed1\"
    ip_address = \"127.0.0.1\""}.
{s2s_default_policy, "\"allow\""}.

% Disable highload args to save memory for dev builds
{highload_vm_args, ""}.

{secondary_c2s,
  "[[listen.c2s]]
  port = {{ c2s_tls_port }}
  zlib = 4096
  access = \"c2s\"
  shaper = \"c2s_shaper\"
  max_stanza_size = 65536"}.
{listen_service,
  "[[listen.service]]
  port = {{ service_port }}
  access = \"all\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\"

[[listen.service]]
  port = {{ kicking_service_port }}
  access = \"all\"
  conflict_behaviour = \"kick_old\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\"

[[listen.service]]
  port = {{ hidden_service_port }}
  access = \"all\"
  hidden_components = true
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\""}.

{mod_amp, "[modules.mod_amp]"}.
{mod_private, "[modules.mod_private]"}.
{zlib, "zlib = 10_000"}.
{c2s_dhfile, "dhfile = \"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "dhfile = \"priv/ssl/fake_dh_server.pem\""}.
