{node_name, "mongooseim@localhost"}.

{c2s_port, 5222}.
{c2s_tls_port, 5223}.
{outgoing_s2s_port, 5299}.
{incoming_s2s_port, 5269}.
{cowboy_port, 5280}.
{cowboy_secure_port, 5285}.
{service_port, 8888}.
{kicking_service_port, 8666}.
{hidden_service_port, 8189}.
{http_api_endpoint_port, 8088}.
{http_api_old_endpoint_port, 5288}.
{http_api_client_endpoint_port, 8089}.
{metrics_rest_port, 5288}.
{http_notifications_port, 8000}.
{gd_endpoint_port, 5555}.

{hosts, "[\"localhost\",
          \"anonymous.localhost\",
          \"localhost.bis\"
         ]"}.
{host_config,
"{host_config, \"anonymous.localhost\", [{auth_method, anonymous},
                                        {allow_multiple_connections, true},
                                        {anonymous_protocol, both}]}." }.
{sm_backend, "{mnesia, []}"}.
{auth_method, "internal"}.
{auth_ldap,""}.
{s2s_addr, "{ {s2s_addr, \"fed1\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
% Disable highload args to save memory for dev builds
{highload_vm_args, ""}.
{secondary_c2s,
    "{ {{ c2s_tls_port }}, ejabberd_c2s, [
    {zlib, 4096},
    {access, c2s},
        {shaper, c2s_shaper},
        {max_stanza_size, 65536}
    ]},"}.
{mod_amp, "{mod_amp, []},"}.
{ejabberd_service, ",{ {{ service_port }}, ejabberd_service, [\n"
                 "                {access, all},\n"
                 "                {shaper_rule, fast},\n"
                 "                {ip, {127, 0, 0, 1}},\n"
                 "                {password, \"secret\"}\n"
                 "           ]},\n"
                 "{ {{ kicking_service_port }}, ejabberd_service, [\n"
                 "                {access, all},\n"
                 "                {conflict_behaviour, kick_old},\n"
                 "                {shaper_rule, fast},\n"
                 "                {ip, {127, 0, 0, 1}},\n"
                 "                {password, \"secret\"}\n"
                 "           ]},\n"
                 "{ {{ hidden_service_port }}, ejabberd_service, [\n"
                 "                {access, all},\n"
                 "                {hidden_components, true},\n"
                 "                {shaper_rule, fast},\n"
                 "                {ip, {127, 0, 0, 1}},\n"
                 "                {password, \"secret\"}\n"
                 "           ]}"
                 }.
{mod_last, "{mod_last, []},"}.
{mod_offline, "{mod_offline, [{access_max_user_messages, max_user_offline_messages}]},"}.
{mod_privacy, "{mod_privacy, []},"}.
{mod_blocking, "{mod_blocking, []},"}.
{mod_private, "{mod_private, []},"}.
{mongoose_admin, "{mongoose_admin, []},"}.
{mod_roster, "{mod_roster, []},"}.
{mod_vcard, "{mod_vcard, [ %{matches, 1},\n"
                "%{search, true},\n"
                "{host, \"vjud.@HOST@\"}\n"
                "]},"}.
{module_host_config, ""}.
{all_metrics_are_global, false}.

{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls,"}.
{tls_module, ""}.
{https_config, "{ssl, [{certfile, \"priv/ssl/fake_cert.pem\"}, {keyfile, \"priv/ssl/fake_key.pem\"}, {password, \"\"}]},"}.
{zlib, "{zlib, 10000},"}.
{http_api_old_endpoint, "{ {{ http_api_old_endpoint_port }}, \"127.0.0.1\"}"}.
{http_api_endpoint, "{ {{ http_api_endpoint_port }}, \"127.0.0.1\"}"}.
{http_api_client_endpoint, "{{ http_api_client_endpoint_port }}"}.
{s2s_use_starttls, "{s2s_use_starttls, optional}."}.
{s2s_certfile, "{s2s_certfile, \"priv/ssl/fake_server.pem\"}."}.
{c2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.
{s2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.

{mongooseim_runner_user, []}.
{mongooseim_script_dir, "$(cd ${0%/*} && pwd)"}.
{mongooseim_etc_dir, "$RUNNER_BASE_DIR/etc"}.
{mongooseim_log_dir, "log"}.
{mongooseim_mdb_dir, "$RUNNER_BASE_DIR/Mnesia.$NODE"}.
{mongooseim_mdb_dir_toggle, "%"}.
{mongooseim_lock_dir, "$EJABBERD_DIR/var/lock"}.
{mongooseim_nodetool_etc_dir, "etc"}.
