{c2s_tls_port, 5223}.
{outgoing_s2s_port, 5299}.
{service_port, 8888}.
{kicking_service_port, 8666}.
{hidden_service_port, 8189}.

{hosts, "\"localhost\", \"anonymous.localhost\", \"localhost.bis\""}.
{host_types, "\"test type\", \"dummy auth\", \"anonymous\""}.
{default_server_domain, "\"localhost\""}.

{mod_privacy, ""}.
{mod_blocking, ""}.
{mod_amp, ""}.
{host_config,
  "[[host_config]]
  host = \"anonymous.localhost\"

  [host_config.auth]
    methods = [\"anonymous\"]
    anonymous.allow_multiple_connections = true
    anonymous.protocol = \"both\"

[[host_config]]
  host_type = \"anonymous\"
  modules = { }

  [host_config.auth]
    methods = [\"anonymous\"]
    anonymous.allow_multiple_connections = true
    anonymous.protocol = \"both\"

[[host_config]]
  host_type = \"dummy auth\"

  auth.methods = [\"dummy\"]
  auth.dummy.base_time = 1
  auth.dummy.variance = 5

  modules = {}
"}.
{password_format, "password.format = \"scram\"
  password.hash = [\"sha256\"]"}.
{scram_iterations, 64}.
{s2s_addr, "[[s2s.address]]
    host = \"fed1\"
    ip_address = \"127.0.0.1\""}.
{s2s_default_policy, "\"allow\""}.

% Disable highload args to save memory for dev builds
{highload_vm_args, ""}.

{secondary_c2s,
  "[[listen.c2s]]
  port = {{ c2s_tls_port }}
  zlib = 4096
  access = \"c2s\"
  shaper = \"c2s_shaper\"
  max_stanza_size = 65536"}.
{listen_service,
  "[[listen.service]]
  port = {{ service_port }}
  access = \"all\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\"

[[listen.service]]
  port = {{ kicking_service_port }}
  access = \"all\"
  conflict_behaviour = \"kick_old\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\"

[[listen.service]]
  port = {{ hidden_service_port }}
  access = \"all\"
  hidden_components = true
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\""}.

{mod_cache_users, "  time_to_live = 2
  number_of_segments = 5\n"}.
{mod_last, false}.
{zlib, "10_000"}.
{c2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
