{node_name, "ejabberd2@localhost"}.

{c2s_port, 5232}.
{c2s_tls_port, 5233}.
{incoming_s2s_port, 5279}.
{http_port, 5281}.
{https_port, 5286}.
{http_api_old_endpoint_port, 5289}.
{http_api_endpoint_port, 8090}.
{http_api_client_endpoint_port, 8091}.
{service_port, 8899}.
{http_qraphql_api_admin_endpoint_port, 5552}.
{http_graphql_api_user_endpoint_port, 5562}.

{hosts, "\"localhost\", \"anonymous.localhost\", \"localhost.bis\""}.
{host_types, "\"test type\", \"dummy auth\""}.
{default_server_domain, "\"localhost\""}.
{s2s_addr, "[[s2s.address]]
    host = \"localhost2\"
    ip_address = \"127.0.0.1\""}.
{s2s_default_policy, "\"allow\""}.
{highload_vm_args, ""}.

{http_graphql_api_admin_endpoint, "ip_address = \"127.0.0.1\"
  port = {{http_qraphql_api_admin_endpoint_port}}"}.
{http_graphql_api_user_endpoint, "ip_address = \"0.0.0.0\"
  port = {{http_graphql_api_user_endpoint_port}}"}.
{http_api_old_endpoint, "ip_address = \"127.0.0.1\"
  port = {{ http_api_old_endpoint_port }}"}.
{http_api_endpoint, "ip_address = \"127.0.0.1\"
  port = {{ http_api_endpoint_port }}"}.
{http_api_client_endpoint, "port = {{ http_api_client_endpoint_port }}"}.

{tls_config, "tls.certfile = \"priv/ssl/fake_server.pem\"
  tls.mode = \"starttls\"
  tls.ciphers = \"ECDHE-RSA-AES256-GCM-SHA384\""}.

{secondary_c2s,
  "[[listen.c2s]]
  port = {{ c2s_tls_port }}
  zlib = 4096
  access = \"c2s\"
  shaper = \"c2s_shaper\"
  max_stanza_size = 65536
  tls.certfile = \"priv/ssl/fake_server.pem\"
  tls.mode = \"tls\"
  tls.ciphers = \"ECDHE-RSA-AES256-GCM-SHA384\""}.
{listen_service,
  "[[listen.service]]
  port = {{ service_port }}
  access = \"all\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\""}.
{all_metrics_are_global, "true"}.

{http_server_name, "\"Classified\""}.

{c2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.

{host_config,
  "[[host_config]]
  host_type = \"dummy auth\"
  modules = { }
  auth.dummy = { }"}.

{mod_cache_users, false}.
{mod_last, false}.
{mod_private, false}.
{mod_privacy, false}.
{mod_blocking, false}.
{mod_offline, false}.
