%% vm.args
{node_name, "mongooseim2@localhost"}.

%% mongooseim.toml
{c2s_port, 5232}.
{c2s_tls_port, 5233}.
{outgoing_s2s_port, 5269}.
{incoming_s2s_port, 5279}.
{http_port, 5281}.
{https_port, 5286}.
{http_api_endpoint_port, 8090}.
{http_api_client_endpoint_port, 8091}.
{service_port, 8899}.
{http_graphql_api_admin_endpoint_port, 5552}.
{http_graphql_api_domain_admin_endpoint_port, 5542}.
{http_graphql_api_user_endpoint_port, 5562}.
{http_prometheus_endpoint_port, 9092}.

{hosts, "\"localhost\", \"anonymous.localhost\", \"localhost.bis\""}.
{host_types, "\"test type\", \"dummy auth\""}.
{default_server_domain, "\"localhost\""}.
{cluster_name, "mim"}.
{redis_database_number, "0"}.
{s2s_addr, "[[s2s.address]]
    host = \"localhost2\"
    ip_address = \"127.0.0.1\""}.

{tls_config, "tls.verify_mode = \"none\"
  tls.certfile = \"priv/ssl/fake_server.pem\"
  tls.mode = \"starttls\"
  tls.ciphers = \"ECDHE-RSA-AES256-GCM-SHA384\""}.

{secondary_c2s,
  "[[listen.c2s]]
  port = {{ c2s_tls_port }}
  access = \"c2s\"
  shaper = \"c2s_shaper\"
  max_stanza_size = 65536
  tls.cacertfile = \"priv/ssl/cacert.pem\"
  tls.certfile = \"priv/ssl/fake_server.pem\"
  tls.verify_mode = \"none\"
  tls.mode = \"tls\"
  tls.ciphers = \"ECDHE-RSA-AES256-GCM-SHA384\""}.
{listen_service,
  "[[listen.service]]
  port = {{ service_port }}
  access = \"all\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\""}.

{instrumentation, "[instrumentation.exometer]
  all_metrics_are_global = true

[instrumentation.prometheus]

[instrumentation.log]"}.

{http_server_name, "\"Classified\""}.

{c2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.

{host_config,
  "[[host_config]]
  host = \"anonymous.localhost\"

  [host_config.auth.anonymous]
    allow_multiple_connections = true
    protocol = \"both\"
    {{#auth_anonymous_backend}}
    backend = \"{{{auth_anonymous_backend}}}\"
    {{/auth_anonymous_backend}}

  [[host_config]]
  host_type = \"dummy auth\"
  [host_config.modules.mod_presence]
  [host_config.auth.dummy]"}.

{erlang_doctor_limit, 100000}.

%% Include common vars shared by all profiles
"./vars-toml.config".
