%% vm.args
{node_name, "mongooseim3@localhost"}.
{epmd_module, "mongoose_epmd"}.

%% mongooseim.toml
{c2s_port, 5262}.
{c2s_tls_port, 5263}.
{outgoing_s2s_port, 5295}.
{incoming_s2s_port, 5291}.
{http_port, 5283}.
{https_port, 5290}.
{http_graphql_api_admin_endpoint_port, 5553}.
{http_graphql_api_domain_admin_endpoint_port, 5543}.
{http_graphql_api_user_endpoint_port, 5563}.
{http_api_endpoint_port, 8092}.
{http_api_client_endpoint_port, 8193}.
{http_prometheus_endpoint_port, 9093}.

"./vars-toml.config".

{node_name, "mongooseim3@localhost"}.

{hosts, "\"localhost\", \"anonymous.localhost\", \"localhost.bis\""}.
{default_server_domain, "\"localhost\""}.
{cluster_name, "mim"}.
{redis_database_number, "0"}.

{s2s_addr, "[[s2s.address]]
    host = \"localhost2\"
    ip_address = \"127.0.0.1\""}.
{listen_service, ""}.

{tls_config, "tls.verify_mode = \"none\"
  tls.certfile = \"priv/ssl/fake_server.pem\"
  tls.mode = \"starttls\"
  tls.ciphers = \"ECDHE-RSA-AES256-GCM-SHA384\""}.

{instrumentation, "[instrumentation.exometer]

[instrumentation.prometheus]

[instrumentation.log]"}.

{secondary_c2s,
  "[[listen.c2s]]
  port = {{ c2s_tls_port }}
  access = \"c2s\"
  shaper = \"c2s_shaper\"
  max_stanza_size = 65536
  tls.cacertfile = \"priv/ssl/cacert.pem\"
  tls.certfile = \"priv/ssl/fake_server.pem\"
  tls.verify_mode = \"none\"
  tls.mode = \"tls\"
  tls.module = \"just_tls\"
  tls.ciphers = \"ECDHE-RSA-AES256-GCM-SHA384\""}.

{c2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.

{host_config,
  "[[host_config]]
  host = \"anonymous.localhost\"

  [host_config.auth.anonymous]
    allow_multiple_connections = true
    protocol = \"both\"
    {{#auth_anonymous_backend}}
    backend = \"{{{auth_anonymous_backend}}}\"
    {{/auth_anonymous_backend}}
  "}.

{erlang_doctor_limit, 100000}.

%% Include common vars shared by all profiles
"./vars-toml.config".
