{hosts, "[\"localhost\",
          \"anonymous.localhost\",
          \"localhost.bis\"
         ]"}.
{outgoing_s2s_port, 5295}.
{odbc_server, ""}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "internal"}.
{s2s_addr, "{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{node_name, "mongooseim3@localhost"}.
{ejabberd_c2s_port, 5262}.
{ejabberd_s2s_in_port, 5291}.
{cowboy_port, 5283}.
{cowboy_port_secure, 5290}.
{ejabberd_service, ""}.
{mod_last, "{mod_last, []},"}.
{mod_privacy, "{mod_privacy, []},"}.
{mod_blocking, "{mod_blocking, []},"}.
{mod_private, "{mod_private, []},"}.
{mod_roster, "{mod_roster, []},"}.
{mod_http_notification, "{mod_http_notification, []},"}.
{http_api_endpoint, "{5296, \"127.0.0.1\"}"}.
{mod_vcard, "{mod_vcard, [ %{matches, 1},\n"
                "%{search, true},\n"
                "{host, \"vjud.@HOST@\"}\n"
                "]},"}.
{s2s_use_starttls, "{s2s_use_starttls, optional}."}.
{s2s_certfile, "{s2s_certfile, \"priv/ssl/fake_server.pem\"}."}.
{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls, {ciphers, \"DHE-RSA-AES256-SHA\"},"}.
{secondary_c2s, ""}.
{http_api_old_endpoint, "{5292, \"127.0.0.1\"}"}.
{http_api_endpoint, "{8092, \"127.0.0.1\"}"}.
{http_api_client_endpoint, "8093"}.
{all_metrics_are_global, false}.
{c2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.
{s2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.

{normal_shaper_rate, 1000}.

{mongooseim_runner_user, []}.
{mongooseim_script_dir, "$(cd ${0%/*} && pwd)"}.
{mongooseim_etc_dir, "$RUNNER_BASE_DIR/etc"}.
{mongooseim_log_dir, "log"}.
{mongooseim_mdb_dir, "$RUNNER_BASE_DIR/Mnesia.$NODE"}.
{mongooseim_mdb_dir_toggle, "%"}.
{mongooseim_lock_dir, "$EJABBERD_DIR/var/lock"}.
