{node_name, "mongooseim3@localhost"}.

{c2s_port, 5262}.
{c2s_tls_port, 5263}.
{outgoing_s2s_port, 5295}.
{incoming_s2s_port, 5291}.
{cowboy_port, 5283}.
{cowboy_secure_port, 5290}.
{http_api_old_endpoint_port, 5292}.
{http_api_endpoint_port, 8092}.
{http_api_client_endpoint_port, 8093}.

{hosts, "[\"localhost\",
          \"anonymous.localhost\",
          \"localhost.bis\"
         ]"}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "internal"}.
{s2s_addr, "{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{highload_vm_args, ""}.
{ejabberd_service, ""}.
{mod_last, "{mod_last, []},"}.
{mod_privacy, "{mod_privacy, []},"}.
{mod_blocking, "{mod_blocking, []},"}.
{mod_private, "{mod_private, []},"}.
{mod_roster, "{mod_roster, []},"}.
{mod_http_notification, "{mod_http_notification, []},"}.
{mod_vcard, "{mod_vcard, [ %{matches, 1},\n"
                "%{search, true},\n"
                "{host, \"vjud.@HOST@\"}\n"
                "]},"}.
{s2s_use_starttls, "{s2s_use_starttls, optional}."}.
{s2s_certfile, "{s2s_certfile, \"priv/ssl/fake_server.pem\"}."}.
{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls, {ciphers, \"ECDHE-RSA-AES256-GCM-SHA384\"},"}.
{tls_module, ""}.
{secondary_c2s,
  "{ {{ c2s_tls_port }}, ejabberd_c2s, [
  {zlib, 4096},
  {access, c2s},
      {shaper, c2s_shaper},
      {max_stanza_size, 65536},
      {certfile, \"priv/ssl/fake_server.pem\"}, tls,
      {tls_module, just_tls},
      {ssl_options,[{ciphers, [#{cipher => aes_256_gcm, key_exchange => ecdhe_rsa, mac => aead, prf => sha384}]}]}
  ]},"}.
{http_api_old_endpoint, "{ {{ http_api_old_endpoint_port }}, \"127.0.0.1\"}"}.
{http_api_endpoint, "{ {{ http_api_endpoint_port }}, \"127.0.0.1\"}"}.
{http_api_client_endpoint, "{{ http_api_client_endpoint_port }}"}.
{all_metrics_are_global, false}.
{c2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.
{s2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.

{mongooseim_runner_user, []}.
{mongooseim_script_dir, "$(cd ${0%/*} && pwd)"}.
{mongooseim_etc_dir, "$RUNNER_BASE_DIR/etc"}.
{mongooseim_log_dir, "log"}.
{mongooseim_mdb_dir, "$RUNNER_BASE_DIR/Mnesia.$NODE"}.
{mongooseim_mdb_dir_toggle, "%"}.
{mongooseim_lock_dir, "$EJABBERD_DIR/var/lock"}.
{mongooseim_nodetool_etc_dir, "etc"}.
