%% vm.args
{node_name, "mongooseim@localhost"}.
{highload_vm_args, "+P 10000000 -env ERL_MAX_PORTS 250000"}.

%% mongooseim.toml
{c2s_port, 5222}.
{outgoing_s2s_port, 5269}.
{incoming_s2s_port, 5269}.
{http_port, 5280}.
{https_port, 5285}.
{http_graphql_api_admin_endpoint_port, 5551}.
{http_graphql_api_domain_admin_endpoint_port, 5541}.
{http_graphql_api_user_endpoint_port, 5561}.
{http_api_endpoint_port, 8088}.
{http_api_client_endpoint_port, 8089}.

{hosts, "\"localhost\""}.
{default_server_domain, "\"localhost\""}.
{s2s_default_policy, "\"deny\""}.
{listen_service, "[[listen.service]]
  port = 8888
  access = \"all\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\""}.

%% "" means that the module is enabled without any options
{mod_cache_users, ""}.
{mod_last, ""}.
{mod_offline, ""}.
{mod_privacy, ""}.
{mod_blocking, ""}.
{mod_private, ""}.
{tls_config, "tls.verify_mode = \"none\"
  tls.certfile = \"priv/ssl/fake_server.pem\""}.

{erlang_doctor_limit, 1000}.

%% Include common vars shared by all profiles
"./vars-toml.config".
