%% vm.args
{node_name, "reg1@localhost"}.

%% mongooseim.toml
{c2s_port, 5252}.
{outgoing_s2s_port, 5269}.
{incoming_s2s_port, 5298}.
{http_port, 5272}.
{https_port, 5277}.
{component_port, 9990}.
{http_graphql_api_admin_endpoint_port, 5554}.
{http_graphql_api_domain_admin_endpoint_port, 5544}.
{http_graphql_api_user_endpoint_port, 5564}.
{http_api_endpoint_port, 8074}.
{http_api_client_endpoint_port, 8075}.
{http_prometheus_endpoint_port, 9094}.

%% This node is for global distribution testing.
%% reg is short for region.
%% Both local and global hosts should be defined.
%% "localhost" is a global host.
%% "reg1" is a local host.
{hosts, "\"reg1\", \"localhost\""}.
{default_server_domain, "\"reg1\""}.
{cluster_name, "reg"}.
{cluster_name, "reg"}.
{redis_database_number, "1"}.

{s2s_addr, "[[s2s.outgoing.address]]
      host = \"localhost\"
      ip_address = \"127.0.0.1\"

    [[s2s.outgoing.address]]
      host = \"localhost.bis\"
      ip_address = \"127.0.0.1\""}.
{listen_component, "[[listen.component]]
  port = {{ component_port }}
  access = \"all\"
  shaper = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\""}.

{tls_config, "tls.verify_mode = \"none\"
  tls.certfile = \"priv/ssl/fake_cert.pem\"
  tls.keyfile = \"priv/ssl/fake_key.pem\""}.

{instrumentation, "[instrumentation.exometer]

[instrumentation.prometheus]

[instrumentation.log]"}.

{c2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.

{mod_cache_users, ""}.

{erlang_doctor_limit, 100000}.

%% Include common vars shared by all profiles
"./vars-toml.config".
