{node_name, "reg1@localhost"}.

{c2s_port, 5252}.
{incoming_s2s_port, 5298}.
{http_port, 5272}.
{https_port, 5277}.
{service_port, 9990}.
{http_api_endpoint_port, 8074}.
{http_api_old_endpoint_port, 5273}.
{http_api_client_endpoint_port, 8075}.
{http_qraphql_api_endpoint_port, 5554}.

%% This node is for global distribution testing.
%% reg is short for region.
%% Both local and global hosts should be defined.
%% "localhost" is a global host.
%% "reg1" is a local host.
{hosts, "\"reg1\", \"localhost\""}.
{default_server_domain, "\"reg1\""}.
{s2s_addr, "[[s2s.address]]
    host = \"localhost\"
    ip_address = \"127.0.0.1\"

  [[s2s.address]]
    host = \"localhost.bis\"
    ip_address = \"127.0.0.1\""}.
{s2s_default_policy, "\"allow\""}.
{listen_service, "[[listen.service]]
  port = {{ service_port }}
  access = \"all\"
  shaper_rule = \"fast\"
  ip_address = \"127.0.0.1\"
  password = \"secret\""}.

{tls_config, "tls.certfile = \"priv/ssl/fake_server.pem\"
  tls.mode = \"starttls\"
  tls.ciphers = \"ECDHE-RSA-AES256-GCM-SHA384\""}.
{secondary_c2s, ""}.

{http_graphql_api_endpoint, "ip_address = \"127.0.0.1\"
  port = {{http_qraphql_api_endpoint_port}}"}.
{http_api_old_endpoint, "ip_address = \"127.0.0.1\"
  port = {{ http_api_old_endpoint_port }}"}.
{http_api_endpoint, "ip_address = \"127.0.0.1\"
  port = {{ http_api_endpoint_port }}"}.
{http_api_client_endpoint, "port = {{ http_api_client_endpoint_port }}"}.

{c2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.
{s2s_dhfile, "\"priv/ssl/fake_dh_server.pem\""}.

{mod_last, false}.
{mod_private, false}.
{mod_privacy, false}.
{mod_blocking, false}.
{mod_offline, false}.
