{node_name, "reg1@localhost"}.

{c2s_port, 5252}.
{incoming_s2s_port, 5298}.
{cowboy_port, 5272}.
{cowboy_secure_port, 5277}.
{outgoing_s2s_port, 5269}.
{service_port, 9990}.
{http_api_endpoint_port, 8074}.
{http_api_old_endpoint_port, 5273}.
{http_api_client_endpoint_port, 8075}.
{gd_endpoint_port, 7777}.
{gd_extra_endpoint_port, 10000}.
{gd_supplementary_endpoint_port, 10001}.

%% This node is for global distribution testing.
%% reg is short for region.
%% Both local and global hosts should be defined.
%% "localhost" is a global host.
%% "reg1" is a local host.
{hosts, "[ \"reg1\", \"localhost\" ]"}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "internal"}.
{s2s_addr, "{ {s2s_addr, \"localhost\"}, {127,0,0,1} }. { {s2s_addr, \"localhost.bis\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{highload_vm_args, ""}.
{ejabberd_service, ",{ {{ service_port }}, ejabberd_service, [\n"
                 "                {access, all},\n"
                 "                {shaper_rule, fast},\n"
                 "                {ip, {127, 0, 0, 1}},\n"
                 "                {password, \"secret\"}\n"
                 "           ]}"}.
{mod_roster, "{mod_roster, []},"}.
{s2s_use_starttls, "{s2s_use_starttls, optional}."}.
{s2s_certfile, "{s2s_certfile, \"priv/ssl/fake_server.pem\"}."}.
{tls_config, "{certfile, \"priv/ssl/fake_server.pem\"}, starttls, {ciphers, \"ECDHE-RSA-AES256-GCM-SHA384\"},"}.
{secondary_c2s, ""}.
{http_api_old_endpoint, "{ {{ http_api_old_endpoint_port }}, \"127.0.0.1\"}"}.
{http_api_endpoint, "{ {{ http_api_endpoint_port }}, \"127.0.0.1\"}"}.
{http_api_client_endpoint, "{{ http_api_client_endpoint_port }}"}.
{all_metrics_are_global, false}.
{c2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.
{s2s_dhfile, ",{dhfile, \"priv/ssl/fake_dh_server.pem\"}"}.

{mongooseim_runner_user, []}.
{mongooseim_script_dir, "$(cd ${0%/*} && pwd)"}.
{mongooseim_etc_dir, "$RUNNER_BASE_DIR/etc"}.
{mongooseim_log_dir, "log"}.
{mongooseim_mdb_dir, "$RUNNER_BASE_DIR/Mnesia.$NODE"}.
{mongooseim_mdb_dir_toggle, "%"}.
{mongooseim_lock_dir, "$EJABBERD_DIR/var/lock"}.
{mongooseim_nodetool_etc_dir, "etc"}.
