%% "" means that the module is enabled without any options
{mod_roster, ""}.
{mod_vcard, "  host = \"vjud.@HOST@\"\n"}.
{auth_method, "internal"}.
{https_config, "tls.verify_mode = \"none\"
  tls.certfile = \"priv/ssl/fake_cert.pem\"
  tls.keyfile = \"priv/ssl/fake_key.pem\"
  tls.password = \"\""}.
{http_graphql_api_admin_endpoint, "ip_address = \"127.0.0.1\"
  port = {{http_graphql_api_admin_endpoint_port}}"}.
{http_graphql_api_domain_admin_endpoint, "ip_address = \"0.0.0.0\"
  port = {{http_graphql_api_domain_admin_endpoint_port}}"}.
{http_graphql_api_user_endpoint, "ip_address = \"0.0.0.0\"
  port = {{http_graphql_api_user_endpoint_port}}"}.
{http_api_endpoint, "ip_address = \"127.0.0.1\"
  port = {{http_api_endpoint_port}}"}.
{http_api_client_endpoint, "port = {{ http_api_client_endpoint_port }}"}.
{s2s_use_starttls, "\"optional\""}.
{s2s_certfile, "\"priv/ssl/fake_server.pem\""}.
{internal_databases, "[internal_databases.mnesia]"}.

"./configure.vars.config".

%% Defined by appending configure.vars.config
%% Uncomment for manual release generation.
%{mongooseim_runner_user, ""}.
%{mongooseim_script_dir, "$(cd ${0%/*} && pwd)"}.
%{mongooseim_etc_dir, "$RUNNER_BASE_DIR/etc"}.
%{mongooseim_log_dir, "log"}.
%{mongooseim_mdb_dir, "$RUNNER_BASE_DIR/Mnesia.$NODE"}.
%{mongooseim_mdb_dir_toggle, "%"}.
%{mongooseim_lock_dir, "$EJABBERD_DIR/var/lock"}.
%{mongooseim_nodetool_etc_dir, "etc"}.
