%% Options defined here are used when testing dynamic domains, see 'dynamic_domains.spec'
%% They take precedence over 'test.config'

{hosts, [{mim,  [{node, mongooseim@localhost},
                 {domain, <<"domain.example.com">>},
                 {host_type, <<"test type">>},
                 {secondary_domain, <<"domain.example.org">>},
                 {secondary_host_type, <<"test type">>},
                 {dynamic_domains, [<<"domain.example.com">>, <<"domain.example.org">>]},
                 {muc_service, <<"groupchats.domain.example.com">>},
                 {muc_service_pattern, <<"groupchats.@HOST@">>},
                 {muc_light_service, <<"muclight2.domain.example.com">>},
                 {muc_light_service_pattern, <<"muclight2.@HOST@">>},
                 {vars, "mim1"},
                 {cluster, mim},
                 {s2s_port, 5269},
                 {incoming_s2s_port, 5269},
                 {metrics_rest_port, 5288},
                 {c2s_port, 5222},
                 {c2s_tls_port, 5223},
                 {cowboy_port, 5280},
                 {cowboy_secure_port, 5285},
                 {http_api_client_endpoint_port, 8089},
                 {service_port, 8888},
                 {kicking_service_port, 8666},
                 {hidden_service_port, 8189},
                 {gd_endpoint_port, 5555},
                 {http_notifications_port, 8000}]},
         %% used to test s2s features
         {fed,  [{node, fed1@localhost},
                 {domain, <<"fed1">>},
                 {host_type, <<"fed1">>},
                 {vars, "fed1"},
                 {incoming_s2s_port, 5299},
                 {c2s_port, 5242},
                 {cluster, fed}]}
        ]}.

{escalus_users, [
    {alice, [
        {username, <<"alicE">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"matygrysa">>}]},
    {alice_bis, [
        {username, <<"alicE">>},
        {server, <<"domain.example.org">>},
        {host, <<"localhost">>},
        {password, <<"matygrysa">>}]},
    {bob, [
        {username, <<"bOb">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"makrolika">>}]},
    {carol, [
        {username, <<"carol">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"jinglebells">>},
        {transport, escalus_bosh},
        {path, <<"/http-bind">>},
        {port, 5280}]},
    {carol_s, [
        {username, <<"carol_s">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"jinglebells_s">>},
        {transport, escalus_bosh},
        {ssl, true},
        {path, <<"/http-bind">>},
        {port, 5285}]},
    {kate, [
        {username, <<"kate">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"makrowe;p">>}]},
    {mike, [
        {username, <<"mike">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"nicniema">>}]},
    {geralt, [
        {username, <<"geralt">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"witcher">>},
        {transport, escalus_ws},
        {port, 5280},
        {wspath, <<"/ws-xmpp">>}]},
    {admin, [
        {username, <<"admin">>},
        {server, <<"localhost">>},
        {password, <<"bruce_almighty">>}]},
    {alice3, [ %% used in dynamic_domains_SUITE
        {username, <<"alice">>},
        {server, <<"example.com">>},
        {host, <<"localhost">>},
        {password, <<"makota2">>}]},
    {bob3, [ %% used in dynamic_domains_SUITE
        {username, <<"bob">>},
        {server, <<"example.org">>},
        {host, <<"localhost">>},
        {password, <<"makota3">>},
        {port, 5232}]},
    {john, [
        {username, <<"john">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"cosontuma">>}]}
]}.
