%% Options defined here are used when testing dynamic domains, see 'dynamic_domains.spec'
%% They take precedence over 'test.config'

{hosts, [{mim,  [{node, mongooseim@localhost},
                 {domain, <<"domain.example.com">>},
                 {host_type, <<"test type">>},
                 {secondary_domain, <<"domain.example.org">>},
                 {secondary_host_type, <<"test type">>},
                 {dynamic_domains, [{<<"test type">>, [<<"domain.example.com">>, <<"domain.example.org">>]},
                                    {<<"anonymous">>, [<<"anonymous.example.com">>]}]},
                 {muc_service, <<"groupchats.domain.example.com">>},
                 {muc_service_pattern, <<"groupchats.@HOST@">>},
                 {muc_light_service, <<"muclight.domain.example.com">>},
                 {muc_light_service_pattern, <<"muclight.@HOST@">>},
                 {vars, "mim1"},
                 {cluster, mim},
                 {s2s_port, 5269},
                 {incoming_s2s_port, 5269},
                 {metrics_rest_port, 5288},
                 {c2s_port, 5222},
                 {c2s_tls_port, 5223},
                 {cowboy_port, 5280},
                 {cowboy_secure_port, 5285},
                 {http_api_client_endpoint_port, 8089},
                 {service_port, 8888},
                 {kicking_service_port, 8666},
                 {hidden_service_port, 8189},
                 {gd_endpoint_port, 5555},
                 {http_notifications_port, 8000}]},
         {mim2, [{node, mongooseim2@localhost},
                 {domain, <<"domain.example.com">>},
                 {host_type, <<"test type">>},
                 {dynamic_domains, []}, % domains already inserted on mim
                 {vars, "mim2"},
                 {cluster, mim},
                 {c2s_port, 5232},
                 {c2s_tls_port, 5233},
                 {metrics_rest_port, 5289},
                 {gd_endpoint_port, 6666},
                 {service_port, 8899}]},
         {mim3, [{node, mongooseim3@localhost},
                 {domain, <<"domain.example.com">>},
                 {host_type, <<"test type">>},
                 {dynamic_domains, []}, % domains already inserted on mim
                 {vars, "mim3"},
                 {c2s_tls_port, 5263},
                 {cluster, mim}]},
         %% used to test s2s features
         {fed,  [{node, fed1@localhost},
                 {domain, <<"fed1">>},
                 {host_type, <<"fed1">>},
                 {vars, "fed1"},
                 {incoming_s2s_port, 5299},
                 {c2s_port, 5242},
                 {cluster, fed}]}
        ]}.

{escalus_users, [
    {alice, [
        {username, <<"alicE">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"matygrysa">>}]},
    {alice_bis, [
        {username, <<"alicE">>},
        {server, <<"domain.example.org">>},
        {host, <<"localhost">>},
        {password, <<"matygrysa">>}]},
    {bob, [
        {username, <<"bOb">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"makrolika">>}]},
    {carol, [
        {username, <<"carol">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"jinglebells">>},
        {transport, escalus_bosh},
        {path, <<"/http-bind">>},
        {port, 5280}]},
    {geralt_s, [
        {username, <<"geralt_s">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"witcher_s">>},
        {transport, escalus_ws},
        {ssl, true},
        {port, 5285},
        {wspath, <<"/ws-xmpp">>},
        {ssl_opts, [{verify, verify_none}]}]},
    {carol_s, [
        {username, <<"carol_s">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"jinglebells_s">>},
        {transport, escalus_bosh},
        {ssl, true},
        {path, <<"/http-bind">>},
        {port, 5285},
        {ssl_opts, [{verify, verify_none}]}]},
    {kate, [
        {username, <<"kate">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"makrowe;p">>}]},
    {mike, [
        {username, <<"mike">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"nicniema">>}]},
    {geralt, [
        {username, <<"geralt">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"witcher">>},
        {transport, escalus_ws},
        {port, 5280},
        {wspath, <<"/ws-xmpp">>}]},
    {admin, [
        {username, <<"admin">>},
        {server, <<"localhost">>},
        {password, <<"bruce_almighty">>}]},
    {secure_joe, [
        {username, <<"secure_joe">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"break_me">>},
        {starttls, required}]},
    {clusterguy, [
        {username, <<"clusterguy">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"distributionftw">>},
        {port, 5232}]},
    {clusterbuddy, [
        {username, <<"clusterbuddy">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"wasssssssup">>},
        {port, 5232}]},
    {alice3, [ %% used in dynamic_domains_SUITE
        {username, <<"alice">>},
        {server, <<"example.com">>},
        {host, <<"localhost">>},
        {password, <<"makota2">>}]},
    {bob3, [ %% used in dynamic_domains_SUITE
        {username, <<"bob">>},
        {server, <<"example.org">>},
        {host, <<"localhost">>},
        {password, <<"makota3">>},
        {port, 5232}]},
    {john, [
        {username, <<"john">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"cosontuma">>}]},
    {neustradamus, [
        {username, <<"neustradamus">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"scramshaplus">>},
        {starttls, required},
        {tls_module, fast_tls}]},
    {hacker, [
        {username, <<"hacker">>},
        {server, <<"domain.example.com">>},
        {host, <<"localhost">>},
        {password, <<"bringdowntheserver">>},
        {port, 5223}]}
]}.

{escalus_anon_users, [
    {jon, [
        {username, <<"jon">>},
        {server, <<"anonymous.example.com">>},
        {host, <<"localhost">>},
        {auth_method, <<"SASL-ANON">>}]},
    {anna, [
        {username, <<"anna">>},
        {password, <<"ignored">>},
        {server, <<"anonymous.example.com">>},
        {host, <<"localhost">>}]}
]}.
