{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "19|20|21"}.

{src_dirs, ["src", "tests"]}.

%% We use https:// instead of git://
{deps, [{usec, ".*", {git, "https://github.com/esl/usec.git", {branch, "master"}}},
        {bbmustache, ".*", {git, "https://github.com/soranoba/bbmustache.git", {tag, "1.6.0"}}},
        {katt, ".*", {git, "https://github.com/for-GET/katt.git", {tag, "1.5.2"}}},
        {erlsh, ".*", {git, "https://github.com/proger/erlsh.git", "4e8a107"}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "0.14.8"}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", "v1.2"}},
        {escalus, ".*", {git, "https://github.com/esl/escalus.git", {ref, "36856c2"}}},
        {gen_fsm_compat, "0.3.0"},
        %% Switch cowboy to upstream after ditching support for OTP 17.x
        {cowboy, "2.4.0"},
        {shotgun, ".*", {git, "https://github.com/inaka/shotgun.git", {ref, "9b6c1df"}}},
        %% Esip needs to find stun.hrl to compile
        %% That's why there is a symbolic link in deps
        {esip, ".*", {git, "https://github.com/processone/esip.git", "1.0.17"}},
        {chatterbox, ".*", {git, "https://github.com/joedevivo/chatterbox.git", {tag, "v0.5.0"}}},
        {gen_fsm_compat, "0.3.0"}
]}.

{plugins,
 [
  {rebar_faster_deps, {git, "https://github.com/arcusfelis/rebar3-faster-deps-plugin.git",
      {ref, "eb3cded5b050edd82cf8653f8c850c6c9890f732"}}},
  {pc, {git, "https://github.com/blt/port_compiler.git", {ref, "c2f3fb1"}}}
 ]}.

{overrides,
  %% Disable hex plugin for processone deps
  %% All the deps are from corresponding rebar.configs
  [{override, esip, [{plugins, []}, {deps, [
        %% processone devs use Hex for their deps
        %% Hex packages for these versions are missing
        {stun, ".*", {git, "https://github.com/processone/stun", {tag, "1.0.16"}}},
        {fast_tls, ".*", {git, "https://github.com/processone/fast_tls", {tag, "1.0.17"}}},
        {p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.10"}}}
    ]}]},
   {override, stun, [{plugins, []}, {deps, [
        {fast_tls, ".*", {git, "https://github.com/processone/fast_tls", {tag, "1.0.17"}}},
        {p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.10"}}}
    ]}]},
   {override, fast_tls, [{plugins, [pc]}, {deps, [
        {p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.10"}}}
    ]}]},

   %% Jiffy wants rebar_gdb_plugin, but it's not available
   {override, jiffy, [{plugins, [pc]}, {provider_hooks,
         [ {pre, [ {compile, {pc, compile}},
                    {clean, {pc, clean}} ] }] }
    ]}
  ]}.
