{erl_opts, [debug_info,
            {i, ["include"]},
            {platform_define, "^(20)", fun_stacktrace}]}.

{require_min_otp_vsn, "21"}.

{src_dirs, ["src", "tests"]}.

%% We use https:// instead of git://
{deps, [
        {lager, "3.9.2"},
        {base16, "2.0.0"},
        {bbmustache, "1.10.0"},
        {erlsh, {git, "https://github.com/proger/erlsh.git", {ref, "4e8a107"}}},
        {jiffy, "1.0.8"},
        {proper, "1.4.0"},
        {escalus, {git, "https://github.com/esl/escalus.git", {branch, "master"}}},
        {gen_fsm_compat, "0.3.0"},
        {cowboy, "2.9.0"},
        {csv, "3.0.3", {pkg, csve}},
        {shotgun, "0.4.1"},
        {amqp_client, "3.8.14"},
        {esip, "1.0.33"},
        {ibrowse, "4.4.1"},
        {jid, "1.0.0", {pkg, mongoose_jid}}
]}.

{plugins,
 [
  {rebar_faster_deps, {git, "https://github.com/arcusfelis/rebar3-faster-deps-plugin.git",
      {ref, "eb3cded5b050edd82cf8653f8c850c6c9890f732"}}}
 ]}.
