{erl_opts, [debug_info,
            {i, ["include"]},
            {platform_define, "^(20)", fun_stacktrace}]}.

{require_min_otp_vsn, "21"}.

{src_dirs, ["src", "tests", "../test/common"]}.

%% We use https:// instead of git://
{deps, [
        {lager, "3.9.2"},
        {base16, "2.0.1"},
        {exml, "3.4.1", {pkg, hexml}},
        {bbmustache, "1.12.2"},
        {jiffy, "1.1.1"},
        {proper, "1.4.0"},
        {gun, "2.0.0-rc.2"},
        {fusco, "0.1.1"},
        {escalus, "4.2.11"},
        {cowboy, "2.9.0"},
        {csv, "3.0.3", {pkg, csve}},
        {amqp_client, "3.12.6"},
        {esip, "1.0.48"},
        {jid, "2.1.0", {pkg, mongoose_jid}}
]}.
