{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "(1[89])|20"}.

{deps, [{usec, ".*", {git, "git://github.com/esl/usec.git", {branch, "master"}}},
        {bbmustache, ".*", {git, "https://github.com/soranoba/bbmustache.git", "v1.4.0"}},
        {katt, ".*", {git, "git://github.com/for-GET/katt.git", {tag, "1.5.2"}}},
        {erlsh, ".*", {git, "git://github.com/proger/erlsh.git", "2fce513"}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "0.14.8"}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", "v1.2"}},
        {exml, ".*", {git, "git://github.com/esl/exml.git", "013fc58"}},
        {escalus, ".*", {git, "git://github.com/esl/escalus.git", {branch, "otp-20"}}},
        %% Switch cowboy to upstream after ditching support for OTP 17.x
        {cowboy, ".*", {git, "git://github.com/rslota/cowboy.git", {tag, "2.0.0-pre.7-r17"}}},
        {shotgun, ".*", {git, "https://github.com/inaka/shotgun.git", "4e67065"}},
        {chatterbox, ".*", {git, "https://github.com/joedevivo/chatterbox.git", {tag, "v0.5.0"}}}
]}.
