{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "1[789]"}.

{deps, [
        {escalus, ".*", {git, "git://github.com/esl/escalus.git", "3.0.0"}},
        {exml, ".*", {git, "git://github.com/esl/exml.git", "2.4.0"}},
        {usec, ".*", {git, "git://github.com/esl/usec.git", {branch, "master"}}},
        {bbmustache, ".*", {git, "https://github.com/soranoba/bbmustache.git", "v1.4.0"}},
        {katt, ".*", {git, "git://github.com/for-GET/katt.git", {tag, "1.5.2"}}},
        {erlsh, ".*", {git, "git://github.com/proger/erlsh.git", "2fce513"}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "0.14.8"}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", "v1.2"}},
        {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}}
]}.

