name: CI

on:
  push:
    branches: [ ci ]
  workflow_dispatch:

env:
  KEEP_COVER_RUNNING: '1'
  SKIP_AUTO_COMPILE: 'true'

  AWS_DEFAULT_REGION: "${{ secrets.AWS_DEFAULT_REGION }}"
  AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
  AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"

  GA4_API_SECRET: "${{ secrets.GA4_API_SECRET }}"
  GA4_MEASUREMENT_API: "${{ secrets.GA4_MEASUREMENT_API }}"

jobs:

  small_tests:
    name: small_tests on OTP ${{matrix.otp}}
    strategy:
      fail-fast: false
      matrix:
        otp: [ '27.3.4.2', '28.0.2' ]
    runs-on: ubuntu-22.04
    env:
      PRESET: 'small_tests'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: erlef/setup-beam@v1.16.0
        with:
          otp-version: ${{ matrix.otp }}

      - uses: actions/cache@v3
        with:
          path: ~/.cache/rebar3
          key: rebar3-${{ hashFiles('rebar.lock') }}

      - run: make certs
      - run: tools/test.sh -p $PRESET -s true -e true

  big_tests:
    name: ${{matrix.preset}} on OTP ${{matrix.otp}}
    strategy:
      fail-fast: false
      matrix:
        preset:
          - internal_mnesia
          - pgsql_mnesia
          - mysql_redis
          - ldap_mnesia
          - elasticsearch_and_cassandra_mnesia
        otp: [ '28.0.2' ]
        include:
          - test-spec: "default.spec"
          - preset: elasticsearch_and_cassandra_mnesia
            test-spec: "mam.spec"
          - preset: ldap_mnesia
            otp: '27.3.4.2'
            test-spec: "default.spec"
          - preset: pgsql_mnesia
            otp: '27.3.4.2'
            test-spec: "default.spec"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/big-tests
        with:
          otp: ${{matrix.otp}}
          preset: ${{matrix.preset}}
          test-spec: ${{matrix.test-spec}}
          gh-token: ${{secrets.GITHUB_TOKEN}}

  dynamic_domains_big_tests:
    name: dynamic domains ${{matrix.preset}} on OTP ${{matrix.otp}}
    strategy:
      fail-fast: false
      matrix:
        preset: [pgsql_mnesia, mysql_redis]
        otp: [ '28.0.2' ]
        test-spec: ["dynamic_domains.spec"]
        include:
          - preset: pgsql_mnesia
            otp: '27.3.4.2'
            test-spec: "dynamic_domains.spec"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/big-tests
        with:
          otp: ${{matrix.otp}}
          preset: ${{matrix.preset}}
          test-spec: ${{matrix.test-spec}}
          gh-token: ${{secrets.GITHUB_TOKEN}}

  dialyzer:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1.16.0
        with:
          otp-version: '27.3.4.2'
      - run: tools/test.sh -p dialyzer_only

  xref:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1.16.0
        with:
          otp-version: '27.3.4.2'
      - run: tools/test.sh -p xref_only

  edoc:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1.16.0
        with:
          otp-version: '27.3.4.2'
      - run: tools/test.sh -p edoc_only

  pkg:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: tools/test.sh -p pkg

  trigger_jenkins:
    name: Trigger Jenkins (Docker build)
    needs:
      - small_tests
      - big_tests
      - dynamic_domains_big_tests
      - dialyzer
      - xref
      - edoc
      - pkg
    runs-on: ubuntu-22.04
    if: success()
    steps:
      - name: Trigger Jenkins job
        run: |
          curl -X POST \
            "${{ secrets.JENKINS_URL }}/job/${{ secrets.JENKINS_JOB }}/build" \
            --user "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}"
