[
 {setup, [{verify_directories, false}]},
 {{mongooseim_mdb_dir_toggle}}{mnesia, [{dir, "{{mongooseim_mdb_dir}}"}]},
 {ssl, [{session_lifetime, 600}]}, %% 10 minutes
 {lager, [
    {log_root, "{{mongooseim_log_dir}}"},
    {crash_log, "crash.log"},
    {handlers, [
        {lager_console_backend, [info, {lager_default_formatter,[{eol, "\r\n"}]}]},
%% use below line to add syslog backend for Lager
%        {lager_syslog_backend, [ "mongooseim", local0, info]},
        {lager_file_backend, [{file, "ejabberd.log"}, {level, info}, {size, 2097152}, {date, "$D0"}, {count, 5}]}
    ]}
  ]}
%{exometer, [
%    {mongooseim_report_interval, 60000}, %% 60 seconds
%    {report, [
%        {reporters, [
%                     {exometer_report_graphite, [
%                                                 {prefix, "mongooseim"},
%                                                 {connect_timeout, 5000},
%                                                 {host, "127.0.0.1"},
%                                                 {port, 2003},
%                                                 {api_key, ""}
%                                                ]}
%                    ]}
%    ]}
%  ]}

%% use below line to enable FIPS mode
%%{crypto, [{fips_mode, true}]},
].

%% vim: filetype=erlang
