[
{lager, [
    {log_root, {{app_config_lager_log_dir}} },
    {crash_log, "crash.log"},
    {handlers, [
        {lager_console_backend, [info, {lager_default_formatter,[{eol, "\r\n"}]}]},
        {lager_file_backend, [{file, "ejabberd.log"}, {level, info}, {size, 2097152}, {date, "$D0"}, {count, 5}]}
    ]}
  ]}
%{exometer, [
%    {mongooseim_report_interval, 60000}, %% 60 seconds
%    {report, [
%        {reporters, [
%                     {exometer_report_graphite, [
%                                                 {prefix, "mongooseim"},
%                                                 {connect_timeout, 5000},
%                                                 {host, "127.0.0.1"},
%                                                 {port, 2003},
%                                                 {api_key, ""}
%                                                ]}
%                    ]}
%    ]}
%  ]}
].

%% vim: filetype=erlang
